<template>
  <v-card 
    id="card"
    elevation="24"
    max-height="650">
    <v-layout
      align-center
      justify-center>
      <v-flex xs12>
        <v-progress-linear
          v-model="valueDeterminate"
          color="success"/>
        <h2 class="center">{{ scene==3 ? $t('field.delivery') : $t('field.invoice') }}</h2>
        <div 
          v-if="scene==3"
          class="center">
          <input
            id="otherName"
            v-model="otherName"
            type="checkbox">
          <label for="otherName">{{ $t('message.other_name') }}</label>
          <div 
            v-if="otherName">
            <input
              id="person"
              v-model="choice"
              name="choose"
              value="person"
              type="radio">
            <label for="person">{{ $t('field.person') }}</label>
            <br>
            <input
              id="company"
              v-model="choice"
              name="choose"
              value="company"
              type="radio">
            <label for="company">{{ $t('field.company') }}</label>
          </div>
        </div>
        <v-text-field  
          v-validate="'required'"
          v-if="otherName&&choice=='person'"      
          key="firstName"
          v-model="form.firstName"
          :label="$t('field.first_name')"
          data-vv-name="name"/>
        <v-text-field 
          v-validate="'required'"
          v-if="otherName&&choice=='person'"       
          key="lastName"
          v-model="form.lastName"
          :label="$t('field.last_name')"
          data-vv-name="name"/>
        <v-text-field  
          v-validate="'required'"
          v-if="!otherName&&scene==2||otherName&&choice=='company'" 
          key="companyName"
          v-model="form.companyName"
          :label="$t('field.company_name')"
          data-vv-name="companyName"/>
        <v-text-field 
          v-validate="'required'"
          v-if="!otherName&&scene==2"       
          key="VAT"
          v-model="form.VAT"
          :label="$t('field.VAT')"
          data-vv-name="VAT"/>
        <v-text-field        
          v-validate="'required'"
          key="street"
          v-model="form.street"
          :label="$t('field.street')"
          data-vv-name="street"/>
        <v-text-field        
          v-validate="'required'"
          key="city"
          v-model="form.city"
          :label="$t('field.city')"
          data-vv-name="city"/>
        <v-text-field        
          v-validate="'required'"
          key="postalcode"
          v-model="form.postalcode"
          :label="$t('field.postalcode')"
          data-vv-name="postalcode"/>
        <v-text-field        
          v-validate="'required'"
          key="country"
          v-model="form.country"
          :error-messages="errors.collect('country')"
          :label="$t('field.country')"
          data-vv-name="country"/>
        <div v-if="scene==2">
          <input
            id="sameDelivery"
            v-model="same_address.sameAddress"
            type="checkbox">
          <label for="sameDelivery">{{ $t('message.same_delivery') }}</label>
        </div>
        <v-layout
          row 
          wrap 
          justify-center 
          align-content-space-between>
          <v-flex xs6>
            <div id="button">
              <v-btn
                dark 
                color="success" 
                @click="previousScene">
                {{ $t('action.previous') }}
              </v-btn>
            </div>
          </v-flex>
          <v-flex xs6>
            <div id="button">
              <v-btn
                v-if="same_address.sameAddress||scene==3"
                dark 
                color="success" 
                @click="register">
                {{ $t('action.submit') }}
              </v-btn>
              <v-btn
                v-else
                dark 
                color="success" 
                @click="nextScene">
                {{ $t('action.next') }}
              </v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    scene: {
      type: Number,
      default: () => 0
    },
    same_address: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    otherName: false,
    choice: ''
  }),
  computed: {
    valueDeterminate() {
      if (this.same_address.sameAddress || this.scene == 3) {
        return 100
      } else {
        return 50
      }
    }
  },
  created() {},
  methods: {
    async nextScene() {
      const valid = await this.$validator.validateAll()
      if (valid) {
        this.$emit('next-scene')
      }
    },
    async previousScene() {
      this.$emit('previous-scene')
    },
    async register() {
      const valid = await this.$validator.validateAll()
      if (valid) {
        this.$emit('register')
      }
    }
  }
}
</script>

<style scoped>
.center {
  text-align: center;
  margin-top: 2%;
}
.left {
  text-align: left;
}
#button {
  text-align: center;
}
</style>
