<template>
  <v-form >
    <v-layout
      row
      wrap
      justify-space-between>

      <v-flex 
        xs4
        dark>
        <v-select
          :menu-props="{ 'z-index': 200}"
          :items="modelList"
          :label="$t('action.select_brand')"
          v-model="selectedModelId"
          dark
          box
          item-text="name"
          item-value="_id"
          @change="changeModel"
        />
      </v-flex>

      <v-flex 
        v-if="versions.length > 1" 
        xs3
      >
        <v-select
          :menu-props="{ 'z-index': 200}"
          :items="versions"
          :label="$t('action.filter_model')"
          v-model="selectedVersion"
          dark
          box
          item-text="name"
          item-value="id"
          @change="changeVersion"
        />
      </v-flex>
      <v-flex 
        v-if="colors.length > 1" 
        xs3>
        <v-select
          :menu-props="{ 'z-index': 200}"
          :items="colors"
          :label="$t('action.filter_color')"
          v-model="selectedColor"
          item-text="name"
          item-value="id"
          dark
          box
          @change="changeColor"
        />
      </v-flex>

    </v-layout>
    
  </v-form > 
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    selectedStocks: [],
    filter: { color: 'all', version: 'all' }
  }),
  computed: {
    modelList() {
      return _.uniqBy(this.models, 'id')
    },
    ...mapFields([
      'selectedModelId',
      'selectedModel',
      'carGallery',
      'selectedVersion',
      'selectedColor',
      'filteredStocks'
    ]),
    colors() {
      let colors = []
      for (const [index, value] of this.filteredStocks.entries()) {
        if (value.color) {
          colors.push({
            id: value.color.selectName,
            name: this.$t(`car.${value.color.selectName}`)
          })
        }
      }
      colors = _.uniqBy(colors, 'id')
      return [{ id: 'all', name: this.$t('action.show_all') }, ...colors]
    },
    versions() {
      let versions = []
      for (const [index, value] of this.filteredStocks.entries()) {
        versions.push({
          id: value.versionName,
          name: value.versionName
        })
      }
      versions = _.uniqBy(versions, 'id')
      return [{ id: 'all', name: this.$t('action.show_all') }, ...versions]
    }
  },
  mounted() {
    if (this.selectedModelId) {
      this.changeModel(this.selectedModelId)
    }
  },
  methods: {
    async changeModel(_id) {
      let model = await this.$db.get(`/catalogues/${_id}`)
      this.selectedModel = model
      const id = model.catalogueId
      this.$emit('changeModel', id)
      this.filter = { color: 'all', version: 'all' }
      this.selectedVersion = 'all'
      this.selectedColor = 'all'
      const stock = await this.$db.get('/stocks', {
        catalogueId: id,
        blocked_ne: true
      })
      // await stock.getList({ modelId: this.selectedModel })
      this.selectedStocks = _.sortBy(stock, ['priceEur'])
      this.filteredStocks = _.sortBy(stock, ['priceEur'])
    },
    changeVersion(id) {
      this.$emit('filter')
      this.filter.version = id
      this.filterStock()
    },
    changeColor(id) {
      this.$emit('filter')
      this.filter.color = id
      this.filterStock()
    },
    filterStock() {
      let filteredStocks = _.filter(this.selectedStocks, item => {
        let answer = true
        if (
          (item.versionName !== this.filter.version &&
            this.filter.version !== 'all') ||
          (item.color.selectName !== this.filter.color &&
            this.filter.color !== 'all')
        ) {
          answer = false
        }
        return answer
      })
      this.filteredStocks = filteredStocks
    }
  }
}
</script>

<style scoped>
</style>
