<template>
  <v-container 
    fluid 
  >
    <v-layout
      row 
      wrap>
      <v-flex
        v-for="(image, index) in imageGallery"
        :key="image"
        v-bind="imageSize"
        d-flex
      >


        <v-card 
          flat 
          tile 
          class="d-flex">
          <v-img
            :src="image"
            :lazy-src="`https://picsum.photos/10/6?image=${index * 5 + 10}`"
          
            class="bgmedium"
            @click="imageClicked(image)"
          >
            <v-layout
              slot="placeholder"
              fill-height
              align-center
              justify-center
              ma-0
            >
              <v-progress-circular 
                indeterminate 
                color="grey lighten-5"/>
            </v-layout>
          </v-img>
        </v-card>
      </v-flex>

      <v-flex 
        v-if="imageGallery.length > 0 && message" 
        xs12>{{ $t('message.illustration') }}</v-flex>

    </v-layout>   
  </v-container>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  props: {
    galleryId: {
      type: String,
      default: null
    },
    message: {
      type: Boolean,
      default: true
    },
    size: {
      type: [String, Array],
      default: 'xs4'
    }
  },
  data: () => ({
    title: null,
    loading: false,
    carGallery: [],
    carGalleryId: null
    // gallery: []
  }),
  computed: {
    ...mapFields(['selectedModel']),
    imageSize() {
      if (_.isString(this.size)) return { [this.size]: true }
      if (_.isArray(this.size)) {
        let result = {}
        for (const size of this.size) {
          result[size] = true
        }
        return result
      }
    },
    imageGallery() {
      const model = this.selectedModel
      const galleryId = this.galleryId || model.catalogueId
      if (!this.loading && galleryId && galleryId !== this.carGalleryId) {
        this.fillGallery(galleryId)
      }
      return this.carGallery
    }
  },
  async mounted() {},
  methods: {
    async fillGallery(galleryId) {
      this.loading = true
      if (galleryId === 'index') {
        this.carGallery = [
          require('~/assets/images/gallery/spider.png'),
          require('~/assets/images/gallery/jeep.png'),
          require('~/assets/images/gallery/suzuki2.png'),
          require('~/assets/images/gallery/fiat.png'),
          require('~/assets/images/gallery/fiat3.png'),
          require('~/assets/images/gallery/fiat2.png'),
          require('~/assets/images/gallery/abarth.jpeg'),
          require('~/assets/images/gallery/fiat4.png'),
          require('~/assets/images/gallery/suzuki.png')
        ]
      } else if (galleryId === 'find-car') {
        this.carGallery = [
          require('~/assets/images/gallery/jeep.png'),
          require('~/assets/images/gallery/suzuki2.png'),
          require('~/assets/images/gallery/fiat.png'),
          require('~/assets/images/gallery/fiat3.png'),
          require('~/assets/images/gallery/fiat2.png'),
          require('~/assets/images/gallery/abarth.jpeg'),
          require('~/assets/images/gallery/fiat4.png'),
          require('~/assets/images/gallery/suzuki.png')
        ]
      } else {
        const result = await this.$db.get('/albums', {
          catalogueId: galleryId
        })
        this.carGallery = result[0].images || []
        if (this.carGallery.length === 0) {
          this.carGallery = [
            require('~/assets/images/gallery/jeep.png'),
            require('~/assets/images/gallery/fiat4.png'),
            require('~/assets/images/gallery/fiat.png'),
            require('~/assets/images/gallery/fiat3.png'),
            require('~/assets/images/gallery/suzuki2.png'),
            require('~/assets/images/gallery/abarth.jpeg')
          ]
        }
      }
      this.carGalleryId = galleryId
      this.loading = false
    },
    imageClicked(image) {
      this.$emit('imageClicked', image)
    }
  }
}
</script>

<style scoped>
</style>
