<template>

  <v-card 
    dark
    class="text-lg-left my-background">  

    <v-card-text>
      <v-container
        grid-list-xl>
        <v-layout
          wrap
        >
          <v-flex xs12 >
            <div class="primary--text justify-left display-2">
              {{ item.catalogueName }} {{ item.name }}
            </div>
            <div class="white--text justify-left display-1"> € {{ $n(item.price[country]) }} </div> 
          </v-flex>
          <v-flex xs12 >
            <slot 
              name="head-action"
            />
          </v-flex>

          <v-flex 
            xs6 
            class="right-border">
            <slot 
              name="top-left"
              class="bottom10"/>
            <div v-if="history">
              <div class="primary--text justify-left display-1 bottom10 top20">
                {{ $t('title.status') }}
              </div>
              <v-chip 
                color="green" 
                text-color="white">{{ $t(`title.${item.status}`) }}
              </v-chip>  
            </div>
            <div class="primary--text justify-left display-1 bottom10 top20">
              {{ $t('title.color') }}
            </div>  

            <v-list-tile 
              :class="[item.color.code, `${item.color.font}--text`, 'colorbox']"
            >
              <v-list-tile-content class="">
                <v-list-tile-sub-title :class="`${item.color.font}--text `">{{ $t(`field.external_color`) }}</v-list-tile-sub-title>
                <v-list-tile-title>{{ item.color.name }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile 
              :class="[item.carpit.code, `${item.carpit.font}--text`, 'colorbox', 'bottom10']"
            >
              <v-list-tile-content class="">
                <v-list-tile-sub-title :class="`${item.carpit.font}--text`">{{ $t(`field.internal_color`) }}</v-list-tile-sub-title>
                <v-list-tile-title>{{ item.carpit.name }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
  
            <div class="primary--text justify-left display-1 bottom10 top20">
              {{ $t('title.parameters') }}
            </div> 
            <v-list class="data-box">
              <v-list-tile 
                v-for="itemToShow in itemsToShow"
                :key="itemToShow.id"
                class="card-body card-tile"
              >
                <v-list-tile-action>
                  <v-icon color="primary">{{ itemToShow.icon }}</v-icon>
                </v-list-tile-action>

                <v-list-tile-content>
                  <v-list-tile-sub-title class="primary--text">{{ $t(`field.${itemToShow.id}`) }}</v-list-tile-sub-title>
                  <v-list-tile-title v-if="itemToShow.translate">{{ $t(`car.${item[itemToShow.id]}`) }}</v-list-tile-title>  
                  <v-list-tile-title v-else>{{ item[itemToShow.id] }}</v-list-tile-title>

                </v-list-tile-content>

                
              </v-list-tile>
            </v-list>


          </v-flex>


          <v-flex xs6>

            <Gallery
              v-if="showGallery" 
              :size="['xs6','xl4']"
              :gallery-id="item.catalogueId" />
            <slot name="right-side"/>

            
          </v-flex>
          <v-flex
            v-if="history" 
            xs8>
            <div class="primary--text justify-left display-1 bottom10 top20">
              {{ $t('title.order_history') }}
            </div>  

            <v-timeline align-top>
              <v-timeline-item
                v-for="(event, i) in historyData"
                :key="i"
                fill-dot
                icon="mdi-email"
              >
                <v-card
                  dark
                >
                  <v-card-title class="title">{{ event.subject }}</v-card-title>
                  <v-card-text class="white black--text">
                    <p class="white third--text">{{ getDate(event.date) }}</p>
                    <p v-html="event.html"/>
                  </v-card-text>
                </v-card>
              </v-timeline-item>
            </v-timeline>

          </v-flex>
          <v-flex 
            :xs12="!history"
            :xs4="history">
            <div v-if="item.extras && item.extras.length > 0">
              <div class="primary--text justify-left display-1">
                {{ $t('title.extra_equipment') }}
              </div>            
              {{ extras }}
            </div>
            <br> <br>
            <div
              v-if="item.extras && item.extras.length > 0" 
              class="primary--text justify-left display-1">
              {{ $t('title.serial_equipment') }}
            </div>
            <div
              v-else 
              class="primary--text justify-left display-1">
              {{ $t('title.equipment') }}
            </div>
            {{ serials }}
          </v-flex>

          <v-flex xs12 >
            <slot 
              name="bottom-action"
            />
          </v-flex>


        </v-layout>
      </v-container>
    </v-card-text>


  </v-card>
</template>

<script>
import Gallery from '~/components/car/car-gallery'
import moment from 'moment'
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  components: {
    Gallery
  },
  props: {
    showGallery: {
      type: Boolean,
      default: true
    },
    country: {
      type: String,
      default: 'de'
    },
    history: {
      type: Boolean,
      default: false
    },
    historyData: {
      type: Array,
      default: () => []
    },
    item: {
      type: Object,
      default: () => {}
    },
    itemsToShow: {
      type: Array,
      default: () => [
        { id: 'fuel', icon: 'mdi-fuel', translate: true },
        { id: 'drive', icon: 'mdi-car', translate: true },
        { id: 'power', icon: 'mdi-engine' },
        { id: 'gear', icon: 'mdi-settings', translate: true },
        { id: 'consumption', icon: 'mdi-fuel' },
        { id: 'co2', icon: 'mdi-periodic-table-co2' },
        { id: 'sincom', icon: 'mdi-qrcode-edit' }
      ]
    }
  },
  data: () => ({
    equipments: {}
  }),
  computed: {
    ...mapFields(['locale']),
    extras() {
      return this.getEquipments(this.item.extras)
    },
    serials() {
      return this.getEquipments(this.item.serials)
    }
  },
  async mounted() {
    this.refreshEquipments()
  },
  methods: {
    async refreshEquipments() {
      this.item.extras = this.item.extras || []
      const equipments = [...this.item.serials, ...this.item.extras]
      let query = new URLSearchParams()
      for (const equipment of equipments) {
        query.append('equipmentId', equipment)
      }
      const result = await this.$db.get('/equipment', query)
      this.equipments = _.keyBy(result, 'equipmentId') || {}
    },
    getEquipments(equipments) {
      let equipmentsTexts = []
      if (equipments && _.isArray(equipments)) {
        for (const equipment of equipments) {
          if (!_.isEmpty(equipment) && this.equipments[equipment]) {
            equipmentsTexts.push(
              this.equipments[equipment][`name_${this.locale}`]
            )
          } else if (!_.isEmpty(equipment)) {
            equipmentsTexts.push(equipment)
          }
        }
      }
      return equipmentsTexts.join(', ')
    },
    action(id) {
      this.$emit('action', id)
    },
    getDate(date) {
      return moment(date).fromNow()
    }
  }
}
</script>

<style scoped>
.right-border {
  /* border-style: none solid none none; */
  /* border-right-color: white; */
}
.padding10 {
  padding-left: 10px;
}
.colorbox {
  /* border: 1px solid grey !important; */
}
.data-box {
  border-radius: 25px;
  opacity: 0.8;
  background-color: black;
}
.detail-card {
  margin-bottom: 20px;
}
.bottom10 {
  margin-bottom: 10px;
}
.top10 {
  margin-top: 10px;
}
.top20 {
  margin-top: 20px;
}
.my-background {
  background: url('~assets/images/backgrounds/black-curves-1280.jpg') no-repeat
    center;
  background-size: cover;
  margin-bottom: 20px;
}
</style>
