<template>
  <v-container 
    grid-list-md
  >
    <v-layout
      row 
      wrap>

      <v-flex 
        v-if="stocks.length == 0"  
        xs12 >
        <div v-if="(selectedModel)">{{ $t('message.no_selected') }}</div>
  
      </v-flex>

      <v-flex
        v-else
        xs12 
      >
        <v-data-iterator
          :items="stocks"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          content-tag="v-layout"
          row
          wrap
        >
          <v-flex
            slot="item"
            slot-scope="props"
            xs12
            sm6
            md6
            lg4
            xl3
          >
            <v-card 
              class="text-center card-background">
              <v-card-title class=" justify-center  primary--text">
                <h2 class="">{{ props.item.name }} </h2> 
                <h2><span class="third--text"> &nbsp; € {{ $n(props.item.price[country]) }} </span></h2>
              </v-card-title>

   
              <v-list
                :dark="false" 
                two-line
                color=""
                class="no-padding card-body"
              >
 
                <v-divider />

                <v-list-tile 
                  :class="[props.item.color.code, `${props.item.color.font}--text`, 'colorbox']"
                >
                  <v-list-tile-content>
                    <v-list-tile-sub-title :class="`${props.item.color.font}--text`" >{{ $t(`field.external_color`) }}</v-list-tile-sub-title>
                    <v-list-tile-title>{{ props.item.color.name }}</v-list-tile-title>
                  </v-list-tile-content>
                </v-list-tile>

                <v-divider />
                <v-list-tile 
                  v-for="itemToShow in itemsToShow"
                  :key="itemToShow.id"
                  light
                  color=""
                  class=""
                >
                  <v-list-tile-action>
                    <v-icon color="primary">{{ itemToShow.icon }}</v-icon>
                  </v-list-tile-action>

                  <v-list-tile-content>
                    <v-list-tile-sub-title class="primary--text">{{ $t(`field.${itemToShow.id}`) }}</v-list-tile-sub-title>
                    <v-list-tile-title v-if="itemToShow.translate">{{ $t(`car.${props.item[itemToShow.id]}`) }}</v-list-tile-title>  
                    <v-list-tile-title v-else>{{ props.item[itemToShow.id] }}</v-list-tile-title>
                  </v-list-tile-content>

                 
                </v-list-tile>
              </v-list>
              <br>
              <v-flex 
                xs12
                align-content-center
                class="justify-center"
                justify-center
                align-self-center>



                <v-btn 
                  dark
                  color="info" 
                  @click="openDialog(props.item)"
                >
                  <v-icon>mdi-dots-vertical</v-icon>
                  &nbsp; {{ $t('action.go_to_details') }}
                </v-btn>



                <v-btn 
                  dark    
                  color="teal darken-4" 
                  @click="action(props.item._id)">
                  <v-icon>mdi-cart-plus</v-icon>
                  &nbsp; {{ $t('action.add_to_cart') }}
                </v-btn>
              </v-flex>



            </v-card>
          </v-flex>
        </v-data-iterator>



      </v-flex>

    </v-layout>   
  </v-container>
</template>

<script>
import Details from '~/components/car/car-details'
import { mapFields } from 'vuex-map-fields'

export default {
  components: {
    Details
  },
  props: {
    stocks: {
      type: Array,
      default: () => []
    },
    country: {
      type: String,
      default: 'de'
    },
    itemsToShow: {
      type: Array,
      default: () => [
        { id: 'fuel', icon: 'mdi-fuel', translate: true },
        { id: 'drive', icon: 'mdi-car', translate: true },
        { id: 'power', icon: 'mdi-engine' },
        { id: 'gear', icon: 'mdi-settings', translate: true }
      ]
    }
  },
  data: () => ({
    dialogDetails: false,
    rowsPerPageItems: [4, 8, 12, 24, 50, 100],
    pagination: {
      rowsPerPage: 12
    }
  }),
  computed: {
    selectedModel() {
      return this.$store.state.selectedModel
    }
  },
  created() {},
  methods: {
    action(id) {
      this.$emit('action', id)
    },
    openDialog(item) {
      this.$emit('openDialog', item)
    }
  }
}
</script>

<style scoped>
.card-body {
  /* opacity: 0; */
  background: none;
}
.no-padding {
  padding: 0;
}
.card-tile {
  height: 55px;
}
.price {
  padding: 10px;
}
.colorbox {
  border: 1px solid grey !important;
}
.card-background {
  background: url('~assets/images/backgrounds/black-curves-1280.jpg');
}
</style>
