<template>
  <v-container fluid>
    <v-layout 
      row 
      justify-space-between>
      <!-- Dropzone -->
      <v-flex 
        v-if="showDropzone===true" 
        xs4>
        <dropzone
          id="foo"
          ref="el"
          :options="options"
          @vdropzone-file-added="fileAdded"
        />
      </v-flex>
      <!-- Dropzone -->
      <v-flex 
        v-if="showDropzone===true" 
        xs4>
        <v-text-field
          label="Box"
          placeholder="Add url and press ENTER"
          box
          @change="urlAdded"
        />
      </v-flex>


      <v-dialog 
        v-model="showCrop"
        min-width="400"
      >
              
        <!--Body-->
        <div class="modal-body">

          <cropper
            v-if="showCrop"
            ref="cropper"
            :guides="true"
            :view-mode= "2"
            :aspect-ratio="4/3"
            :auto-crop-area="0.9"
            :background="true"
            :modal="true"                                                
            :src="imgSrc"
            :img-style="{ width: 'auto', 'height': '300px' }"
            :cropmove="cropImage"
            drag-mode="crop"
            preview=".preview"
            alt="Source Image"/>

          <h5>{{ $t(`main.preview`) }}</h5>
          <div class="preview " />
          <br>


        

  
        </div>

        <div>

          <v-btn 
            @click="postImage()">
            {{ $t('action.add_image') }}
          </v-btn>
          <v-btn 
            @click="cancel()">
            {{ $t('action.cancel') }}
          </v-btn>
        </div>

      </v-dialog>    




    
    </v-layout>

  </v-container>



  
</template>

<script>
// import {Dropzone, VueCropper} from '~/plugins/upload'
// import Dropzone from 'vue2-dropzone'
// import VueCropper from 'vue-cropperjs'
import Dropzone from 'nuxt-dropzone'
import 'nuxt-dropzone/dropzone.css'

// import VueWebcam from 'vue-webcam'
// import CanvasCompress from 'canvas-compress'
import base64toblob from 'base64toblob'
import pasteImage from 'paste-image'
// import blobtobase64 from 'blov-to-base64'
// import imageCompressor from 'vue-image-compressor'
// require('paste-image')
// const { pasteImage } = require('paste-image')
// const CanvasCompress = require('canvas-compress')
if (process.client) {
  // var VueCropper = require('vue-cropperjs')
  // const CanvasCompress = require('canvas-compress')
  // const { pasteImage } = require('paste-image')
}

export default {
  components: {
    // VueCropper,
    Dropzone
    // imageCompressor
    // VueWebcam,
  },
  data() {
    return {
      options: {
        url: 'http://httpbin.org/anything',
        dictDefaultMessage: `<i class='fa fa-cloud-upload'></i><br>${this.$t(
          'action.upload'
        )}`
      },
      dropzoneOptions: {
        dictDefaultMessage: "<i class='fa fa-cloud-upload'></i>UPLOAD ME",
        language: {
          dictDefaultMessage: 'macibbfdoci'
        }
      },
      items: [],
      status: 'new',
      showDropzone: true,
      showCrop: false,
      image: true,
      photo: null,
      processQueue: false,
      showRemoveAllButton: false,
      imgSrc: '',
      cropImg: '',
      cica: {},
      maci: {},
      download: '',
      boci: true,
      show: false,
      reader: {},
      file: {},
      result: {},
      quality: 1.0
    }
  },
  computed: {},
  mounted() {
    const CanvasCompress = require('canvas-compress')
    this.compressor = new CanvasCompress({
      type: CanvasCompress.MIME.JPEG,
      width: 800,
      height: 800,
      quality: this.quality
    })
    const instance = this.$refs.el.dropzone
    pasteImage.on('paste-image', this.pasteAdded)
  },
  created() {
    // this.updateTableData({table: 'brands', view: '/all'})
  },
  methods: {
    hide() {},
    async postImage() {
      console.log('post1')
      let url = await this.$refs.cropper
        .getCroppedCanvas()
        .toDataURL(this.file.type)
      // let cica = await this.$refs.cropper.getCroppedCanvas()
      // this.maci = this.$refs.cropper.getCroppedCanvas()
      // let formData = new FormData()
      // formData.append('files', [maci])
      // console.log('>> formData >> ', formData)
      // this.$db.post('admin/upload/image', maci)
      /*
      this.$axios
        .$post('admin/upload/image', formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          }
        })
        .then(function() {
          console.log('SUCCESS!!')
        })
        .catch(function() {
          console.log('FAILURE!!')
        })
      */
      this.$emit('addImage', url)
      this.showDropzone = true
      this.showCrop = false
      this.show = true
      // this.$store.commit('model/SET_ACTION', {action: 'new'})
    },
    cancel() {
      this.imgSrc = ''
      this.cropImg = ''
      this.image = false
      this.showCrop = false
      this.showDropzone = true
      this.file = {}
      this.result = {}
    },
    startUpload() {
      this.ok = !this.ok
    },
    pasteAdded(image) {
      console.log('maci')
      console.log(image)
      console.log('pasting image...')
      console.log(image)
      // image.replace('<img src="', '')
      // image.replace('">"', '')
      image = image.getAttribute('src')
      console.log(image)
      console.log(this.status)
      this.image = true
      this.showCrop = true
      this.showDropzone = false
      this.imgSrc = image
    },
    urlAdded(url) {
      this.image = true
      this.showCrop = true
      this.showDropzone = false
      this.imgSrc = url
      // rebuild cropperjs with the updated source
      // this.$refs.cropper.replace(this.imgSrc)
    },
    fileAdded(file) {
      if (!file) return false
      this.show = false
      // this.$store.commit('model/SET_ACTION', {action: 'imageEditing'})
      console.log('A file was successfully uploaded')
      if (!file.type.includes('image/')) {
        alert('Please select an image file')
        return
      }

      // Set original file
      this.file = file
      // Validation
      let type = this.file.type
      let valid = type.indexOf('image') !== -1
      if (!valid) alert('File Type Is Not Supported. Upload an image instead')
      // Make new FileReader
      this.reader = new FileReader()
      // Convert the file to base64 text
      this.reader.readAsDataURL(file)
      // on reader load somthing...
      this.reader.onload = this.fileOnLoad

      /*
      if (typeof FileReader === 'function') {
        const reader = new FileReader()
        reader.onload = (event) => {
          this.imgSrc = event.target.result
          // rebuild cropperjs with the updated source
          this.$refs.cropper.replace(event.target.result)
        }

        reader.readAsDataURL(file)
      }
      else {
        alert('Sorry, FileReader API not supported')
      } */
      this.image = true
      this.showCrop = true
      this.showDropzone = false
    },
    async compress(blob) {
      // Compress image
      // let blob = await base64toblob(this.reader.result.split(',')[1], 'image/jpeg')
      console.log(blob.size)
      this.boci = false
      let compressed = await this.compressor.process(blob)
      console.log(blob.size)
      console.log('size' + compressed.result.blob.size / 1000)
      this.quality = this.quality - 0.1
      console.log(this.quality)
      this.reader.readAsDataURL(compressed.result.blob)
    },
    async fileOnLoad() {
      // The File
      let { file } = this
      // Make a fileInfo Object
      let sizeKb = Math.round(file.size / 1000)
      // if (sizeKb > 1000) return this.compress()
      let blob = await base64toblob(
        this.reader.result.split(',')[1],
        'image/jpeg'
      )
      if (blob.size > 200000) return this.compress(blob)
      // this.quality = this.quality - 0.1
      console.log(this.quality)

      this.quality = 1.0
      console.log(blob.size)
      console.log(sizeKb)
      let fileInfo = {
        name: file.name,
        type: file.type,
        size: sizeKb + ' kB',
        base64: this.reader.result,
        file: file
      }
      // Push it to the state
      this.result = fileInfo
      // Set image to cropper
      this.imgSrc = this.reader.result
      // rebuild cropperjs with the updated source
      this.$refs.cropper.replace(this.reader.result)

      this.image = true
      this.showCrop = true
      this.showDropzone = false
      // rebuild cropperjs with the updated source
      // this.$refs.cropper.replace(this.result.base64)
    },
    cropImage() {
      // get image data for post processing, e.g. upload or setting image src
      // this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL()
    }
    /*
    ...mapMutations([
      'SET_CURRENT_TABLE', 'SET_CURRENT_VIEW'
    ]),
    ...mapActions([
      'updateTableData', 'initialUpload', 'postCurrentItem'
    ])
    */
  }
}
</script>

<style >
.preview {
  width: 30vh;
  height: 30vh;
  overflow: hidden;
}
</style>
