<template>
  <v-form ref="form">
    <v-container
      v-if="form" 
      grid-list-xl>
      <v-layout
        wrap
      >
        <!-- Company/person ------------------------------------- -->
        <v-flex xs12 >
          <v-radio-group
            v-model="form.company"
            box
            row>
            <v-radio
              :label="$t('field.person')"
              :value="false"/>
            <v-radio
              :label="$t('field.company')"
              :value="true"/>
          </v-radio-group>
        </v-flex>

        <!-- Title: personal data ------------------------------------- -->
        <v-flex xs12 >
          <div class="title">{{ $t('field.personal') }}</div>
        </v-flex>

        <!-- Firstname ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.firstName"
            :label="$t('field.first_name')"
            :error-messages="errors.collect('firstName')"
            data-vv-name="firstName"
            box/>
        </v-flex>


        <!-- Lastname ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.lastName"
            :error-messages="errors.collect('lastName')"
            :label="$t('field.last_name')"
            data-vv-name="lastName"
            box/>
        </v-flex>

        <!-- Phone ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.phone"
            :error-messages="errors.collect('phoneNumber')"
            :label="$t('field.phone_number')"
            data-vv-name="phoneNumber"
            box/>
        </v-flex>

        <!-- Email ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <div id="email">
            {{ emailAlert }}
            <v-text-field        
              v-validate="'required|email'"
              v-model="form.email"
              :error-messages="errors.collect('email')"
              :label="$t('field.email')"
              data-vv-name="email"
              box/>
          </div>
        </v-flex>
        
        <!-- Passwords ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field
            v-validate="'required'"
            v-model="form.password"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            :error-messages="errors.collect('password')"
            :label="$t('field.password')"
            name="password"
            hint="At least 8 characters"
            data-vv-name="password"
            counter
            box
            @click:append="showPassword = !showPassword"/>
        </v-flex>
        <v-flex 
          xs12 
          md6 >  
          
          <v-text-field
            v-validate="'required'"
            v-model="repeatedPassword"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            :error-messages="errors.collect('repeatedPassword')"
            :label="$t('field.repeat_pwd')"
            name="repeatedPassword"
            hint="At least 8 characters"
            data-vv-name="repeatedPassword"
            counter
            box
            @click:append="showPassword = !showPassword"/>
        </v-flex>
        <!-- Delivery address is same as invoice-------------------------- -->
        <v-flex xs12 >
          <v-switch
            v-model="form.sameAddress"
            :label="$t('message.same_delivery')"
            @change="switchAddress"
          />
        </v-flex>

        <v-flex
          v-for="address in addresses" 
          :key="address"
          xs12 
          md6 > 
          <div class="title">{{ address=='deliveryAddress' ? $t('field.delivery') : $t('field.invoice') }}</div>
          <br>
          <v-text-field        
            v-validate="'required'"
            key="street"
            v-model="form[address].street"
            :label="$t('field.street')"
            box
            data-vv-name="street"/>
          <v-text-field        
            v-validate="'required'"
            key="city"
            v-model="form[address].city"
            :label="$t('field.city')"
            box
            data-vv-name="city"/>
          <v-text-field        
            v-validate="'required'"
            key="postalcode"
            v-model="form[address].postalcode"
            :label="$t('field.postalcode')"
            box
            data-vv-name="postalcode"/>
          <v-text-field        
            v-validate="'required'"
            key="country"
            v-model="form[address].country"
            :error-messages="errors.collect('country')"
            :label="$t('field.country')"
            box
            data-vv-name="country"/>
        </v-flex>

        <v-btn 
          block 
          color="success" 
          dark
          @click="save">{{ $t('action.save') }}</v-btn>


      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  components: {},
  props: {
    userData: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    valid: false,
    showPassword: false,
    repeatedPassword: null,
    passwordAlert: 'null',
    emailAlert: null,
    addresses: ['deliveryAddress', 'invoiceAddress'],
    showPassword: false,
    form: null,
    scene: 1,
    personal: {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      phone: '',
      company: false,
      role: 'user'
    },
    invoice: {
      street: '',
      city: '',
      postalcode: '',
      country: ''
    },
    delivery: {
      firstName: '',
      lastName: '',
      street: '',
      city: '',
      postalcode: '',
      country: ''
    }
  }),
  computed: {
    ...mapFields(['cookieStatement']),
    title() {
      return this.$t('field.personal')
    }
  },
  mounted() {
    this.init()
  },
  methods: {
    switchAddress(answer) {
      if (answer) this.form.invoiceAddress = this.form.deliveryAddress
      else {
        this.form.invoiceAddress = {
          street: '',
          city: '',
          postalcode: '',
          country: ''
        }
      }
    },
    async save() {
      let valid = await this.$validator.validateAll()
      if (valid) {
        this.form.cookieStatement = this.cookieStatement
        this.collection.answer = await this.collection.db.add(this.form)
        this.collection.toId().id
        this.createdId = this.collection.toId().id
        await this.getAll()
      } else {
      }
    },
    init() {
      let form = {
        company: false,
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        password: '',
        sameAddress: true,
        deliveryAddress: {
          street: '',
          city: '',
          postalcode: '',
          country: ''
        },
        invoiceAddress: {
          street: '',
          city: '',
          postalcode: '',
          country: ''
        }
      }
      if (this.userData) _.assignIn(form, this.userData)
      if (form.sameAddress) form.invoiceAddress = form.deliveryAddress
      this.form = form
    },
    async register() {
      this.invoice.firstName = this.personal.firstName
      this.invoice.lastName = this.personal.lastName
      let data = {
        personal: this.personal,
        invoiceAddress: this.invoice
      }
      if (this.sameAddress.sameAddress) {
        data.deliveryAddress = this.invoice
      } else {
        data.deliveryAddress = this.delivery
      }
      const confirm = await this.$axios.$post('/registration/person', {
        data
      })
      const route = this.$store.state.returnPage
      this.$router.push(route)
    }
  }
}
</script>
