<template>
  <v-menu offset-y>
    <v-btn
      slot="activator"
      color="success"
      dark>
      {{ $t('field.navigation') }}
    </v-btn>
    <v-list>
      <v-list-tile>
        <v-list-tile-title>
          <nuxt-link 
            class="side-button"
            to="/user">
            {{ $t('field.personal') }}
          </nuxt-link>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-title>
          <nuxt-link
            class="side-button"
            to="/user/password">
            {{ $t('field.password') }}
          </nuxt-link>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-title>
          <nuxt-link 
            class="side-button"
            to="/user/delivery">
            {{ $t('field.delivery') }}
          </nuxt-link>
        </v-list-tile-title>
      </v-list-tile>
      <v-list-tile>
        <v-list-tile-title>
          <nuxt-link 
            class="side-button"
            to="/user/invoicing">
            {{ $t('field.invoice') }}
          </nuxt-link>
        </v-list-tile-title>
      </v-list-tile>
    </v-list>
  </v-menu>
</template>

<style scoped>
.side-button {
  color: black;
  text-decoration: none;
}
#button {
  text-align: center;
}
</style>
