<template>
  <v-layout
    row 
    wrap 
    align-center
    justify-center 
    align-content-space-between>
    <v-layout 
      justify-center 
      align-center>
      <v-flex xs11>
        <h1>{{ $t('title.personal_page') }}</h1>
        <v-text-field
          v-validate="'required'"
          id="firstName"
          v-model="firstName"
          :label="$t('field.first_name')"
          :error-messages="errors.collect('firstName')"
          data-vv-name="firstName"/>
        <v-text-field
          v-validate="'required'"
          id="lastName"
          v-model="lastName"
          :label="$t('field.last_name')"
          :error-messages="errors.collect('lastName')"
          data-vv-name="lastName"/>
        <v-text-field
          v-validate="'required|email'"
          id="email"
          v-model="email"
          :label="$t('field.email')"
          :error-messages="errors.collect('email')"
          data-vv-name="email"
          required/>
        <v-text-field
          v-validate="'required'"
          id="phone"
          v-model="phone"
          :label="$t('field.phone_number')"
          :error-messages="errors.collect('phone')"
          data-vv-name="phone"
          required/>
        <div id="button">
          <v-btn
            color="success"
            @click="update">
            {{ $t('action.update') }}
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  data: () => ({}),
  computed: {
    ...mapFields([
      'user.user',
      'user.user.firstName',
      'user.user.lastName',
      'user.user.email',
      'user.user.phone'
    ]),
    confirmation() {
      return this.$t('message.personalChangeConfirm')
    }
  },
  created() {},
  methods: {
    async update() {
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        let request = this.user
        let response = await this.$axios.$post('registered/update/users', {
          request
        })
        if (response.ok) {
          alert(this.confirmation)
          this.$emit('close')
        }
      }
    }
  }
}
</script>
<style scoped>
#button {
  text-align: center;
}
</style>
