<template>
  <v-layout
    row 
    wrap 
    justify-center 
    align-center 
    align-content-space-between>
    <v-layout 
      justify-center 
      align-center>
      <v-flex xs11>
        <h1>{{ $t('title.password_page') }}</h1>
        <v-text-field
          v-validate="'required'"
          id="old"
          v-model="form.old"
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :type="show1 ? 'text' : 'password'"
          :label="$t('field.old_pwd')"
          :error-messages="errors.collect('old')"
          hint="At least 8 characters"
          counter
          data-vv-name="old"/>
        <v-text-field
          v-validate="'required'"
          id="new"
          v-model="form.new"
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :type="show1 ? 'text' : 'password'"
          :label="$t('field.new_pwd')"
          :error-messages="errors.collect('new')"
          hint="At least 8 characters"
          counter
          data-vv-name="new"/>
        <v-text-field
          v-validate="'required'"
          id="repeat"
          v-model="form.repeat"
          :append-icon="show1 ? 'visibility_off' : 'visibility'"
          :type="show1 ? 'text' : 'password'"
          :label="$t('field.repeat_pwd')"
          :error-messages="errors.collect('repeat')"
          hint="At least 8 characters"
          counter
          data-vv-name="repeat"/>
        <div id="button">
          <v-btn
            color="success"
            @click="update">
            {{ $t('action.update') }}
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  layout: 'user',
  data: () => ({
    title: 'Page template',
    form: {
      old: null,
      new: null,
      repeat: null
    },
    show1: false
  }),
  computed: {
    confirmation() {
      return this.$t('message.passwordChangeConfirm')
    },
    notSame() {
      return this.$t('message.passwordNotSame')
    },
    noMatch() {
      return this.$t('message.wrongPwd')
    }
  },
  created() {
    this.user = this.$store.state.user.user
  },
  methods: {
    isMatching() {
      let match = this.form.new === this.form.repeat
      return match
    },
    async update() {
      let match = this.isMatching()
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        if (!match) {
          alert(this.notSame)
        } else {
          let request = this.form
          request['_id'] = this.user._id
          delete request.repeat
          let response = await this.$axios.$post(
            '/registered/change-password',
            { request }
          )
          if (response.ok) {
            alert(this.confirmation)
            this.$emit('close')
          } else if (response.message === 'mismatch') {
            alert(this.noMatch)
          }
        }
      }
      this.form = {
        old: null,
        new: null,
        repeat: null
      }
      await this.$validator.reset()
    }
  },
  async fetch({ store, params, app }) {}
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
