<template>
  <v-layout
    row 
    wrap 
    justify-center 
    align-center 
    align-content-space-between>
    <v-layout 
      justify-center 
      align-center>
      <v-flex xs11>
        <h1>{{ $t('field.invoice') }}</h1>
        <v-text-field
          v-validate="'required'"
          v-if="company"
          id="companyName"
          v-model="companyName"
          :label="$t('field.company_name')"
          :error-messages="errors.collect('companyName')"
          name="companyName"
          data-vv-name="companyName"/>
        <v-text-field
          v-validate="'required'"
          v-else
          id="firstName"
          v-model="firstName"
          :label="$t('field.first_name')"
          :error-messages="errors.collect('firstName')"
          name="firstName"
          data-vv-name="firstName"/>
        <v-text-field
          v-validate="'required'"
          v-if="company"
          id="VAT"
          v-model="VAT"
          :label="$t('field.VAT')"
          :error-messages="errors.collect('VAT')"
          name="VAT"
          data-vv-name="VAT"/>
        <v-text-field
          v-validate="'required'"
          v-else
          id="lastName"
          v-model="lastName"
          :label="$t('field.last_name')"
          :error-messages="errors.collect('lastName')"
          name="lastName"
          data-vv-name="lastName"/>
        <v-text-field
          v-validate="'required'"
          id="street"
          v-model="street"
          :label="$t('field.street')"
          :error-messages="errors.collect('street')"
          data-vv-name="street"/>
        <v-text-field
          v-validate="'required'"
          id="city"
          v-model="city"
          :label="$t('field.city')"
          :error-messages="errors.collect('city')"
          data-vv-name="city"/>
        <v-text-field
          v-validate="'required'"
          id="postalcode"
          v-model="postalcode"
          :label="$t('field.postalcode')"
          :error-messages="errors.collect('postalcode')"
          data-vv-name="postalcode"/>
        <v-text-field
          v-validate="'required'"
          id="country"
          v-model="country"
          :label="$t('field.country')"
          :error-messages="errors.collect('country')"
          data-vv-name="country"/>
        <div id="button">
          <v-btn
            color="success"
            @click="update">
            {{ $t('action.update') }}
          </v-btn>
        </div>
      </v-flex>
    </v-layout>
  </v-layout>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  data: () => ({}),
  computed: {
    ...mapFields([
      'invoiceAddress',
      'invoiceAddress.companyName',
      'invoiceAddress.firstName',
      'invoiceAddress.lastName',
      'invoiceAddress.VAT',
      'invoiceAddress.street',
      'invoiceAddress.city',
      'invoiceAddress.postalcode',
      'invoiceAddress.country'
    ]),
    company() {
      return this.$store.state.user.user.company
    },
    confirmation() {
      return this.$t('message.invoiceChangeConfirm')
    }
  },
  created() {},
  methods: {
    async update() {
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        let request = this.invoiceAddress
        let response
        if (this.company) {
          response = await this.$axios.$post(
            '/registered/update/companyInvoicing',
            { request }
          )
        } else {
          response = await this.$axios.$post(
            '/registered/update/personInvoicing',
            { request }
          )
        }
        if (response.ok) {
          alert(this.confirmation)
          this.$emit('close')
        }
      }
    }
  }
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
