<template>
  <v-layout
    class="middle"
    row 
    wrap 
    align-center
    justify-center 
    align-content-space-between>
    <v-flex xs12>
      <v-stepper 
        v-model="e6" 
        class="bglight"
        vertical>
        <v-stepper-step 
          :complete="e6 > 1" 
          step="1">
          {{ $t('field.registration_switch') }}
        </v-stepper-step>

        <v-stepper-content step="1">
          <v-card
            id="card"
            class="bglight2"
          >
            <v-card-text>
              <v-radio-group
                v-model="company"
                row>
                <v-radio
                  :label="$t('field.person')"
                  :value="false"/>
                <v-radio
                  :label="$t('field.company')"
                  :value="true"/>
              </v-radio-group>
            </v-card-text>
          </v-card>
          <v-btn 
            color="primary" 
            @click="e6 = 2">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step 
          :complete="e6 > 2" 
          step="2">Configure analytics for this app</v-stepper-step>

        <v-stepper-content step="2">
          <v-card 
            color="grey lighten-1" 
            class="mb-5" 
            height="200px"/>
          <v-btn 
            color="primary" 
            @click="e6 = 3">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step 
          :complete="e6 > 3" 
          step="3">Select an ad format and name ad unit</v-stepper-step>

        <v-stepper-content step="3">
          <v-card 
            color="grey lighten-1" 
            class="mb-5" 
            height="200px"/>
          <v-btn 
            color="primary" 
            @click="e6 = 4">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>

        <v-stepper-step step="4">View setup instructions</v-stepper-step>
        <v-stepper-content step="4">
          <v-card 
            color="grey lighten-1" 
            class="mb-5" 
            height="200px"/>
          <v-btn 
            color="primary" 
            @click="e6 = 1">Continue</v-btn>
          <v-btn flat>Cancel</v-btn>
        </v-stepper-content>
      </v-stepper>



    </v-flex>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import Personal from '~/components/register/register-personal'
import Invoice from '~/components/register/register-person/register-addresses'

export default {
  components: {
    Personal,
    Invoice
  },
  props: {
    type: {
      type: String,
      default: 'person'
    }
  },
  data: () => ({
    e6: 1,
    company: false,
    scene: 1,
    sameAddress: { sameAddress: false },
    personal: {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      phone: '',
      company: false,
      role: 'user'
    },
    invoice: {
      street: '',
      city: '',
      postalcode: '',
      country: ''
    },
    delivery: {
      firstName: '',
      lastName: '',
      street: '',
      city: '',
      postalcode: '',
      country: ''
    }
  }),
  computed: {
    title() {
      return this.$t('field.personal')
    }
  },
  created() {},
  methods: {
    async register() {
      this.invoice.firstName = this.personal.firstName
      this.invoice.lastName = this.personal.lastName
      let data = {
        personal: this.personal,
        invoiceAddress: this.invoice
      }
      if (this.sameAddress.sameAddress) {
        data.deliveryAddress = this.invoice
      } else {
        data.deliveryAddress = this.delivery
      }
      const confirm = await this.$axios.$post('/registration/person', {
        data
      })
      const route = this.$store.state.returnPage
      this.$router.push(route)
    }
  }
}
</script>
