<template>
  <v-layout 
    row 
    wrap 
    justify-start
    align-content-start>

    <!-- Method selector start -------------------------------- -->
    <v-flex 
      v-if="canEmpty" 
      xs12>
      <v-radio-group 
        v-if="modelName != 'pricing'"
        v-model="tableSelectedMethod"
        row
        @change="afterMethodSelected">
        <v-radio 
          value="db" 
          label="Database format"/>
        <v-radio 
          value="original" 
          label="Original format"/>
      </v-radio-group>
    </v-flex>
    <!-- Method selector end -------------------------------- -->

    <!-- Column vs row satrt -------------------------------- -->
    <v-flex 
      v-if="isEmpty"
      xs12 >
      <v-layout 
        row 
        wrap 
        align-content-space-between>
        <v-flex shrink>
          <v-btn
            color="success"
            @click="convertToDbFormat()" >Convert to database format</v-btn>
        </v-flex>
        <v-flex grow>
          <v-radio-group
            v-model="tableKeyFields"
            row >
            <v-radio 
              value="row" 
              label="Key fields are in first row"/>
            <v-radio 
              value="column" 
              label="Key fields are in first column"/>
          </v-radio-group>
        </v-flex>
      </v-layout>
    </v-flex>




    <!-- Columns settings start-------------------------------- -->
    <v-flex 
      v-if="showColumnSettings && !isEmpty" 
      xs12>
      {{ search }}
      <v-combobox
        :menu-props="{ 'z-index': 200}"
        :items="allColumnsWithHeader"
        v-model="columnsToShow"
        :search-input.sync="search"
        item-text="name"
        label="Select columns to show"
        multiple
        box
        small-chips
        deletable-chips
        color="blue"
        return-object
        @input="selectionUpdate"
      >
        <template slot="no-data">
          <v-list-tile>
            <v-list-tile-content>
              <v-list-tile-title>
                No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a new one
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

        <template slot="append">
          <a href="#"><span @click="columnsToShow = allColumnsWithHeader">Select all </span></a>
          &nbsp;/&nbsp;
          <a href="#"><span @click="columnsToShow = []">Deselect all</span></a>
        </template>
      </v-combobox>
    </v-flex>
    <!-- Columns settings end-------------------------------- -->





    <!--Filter start -------------------------------- -->
    <v-flex 
      v-if="!isEmpty" 
      xs12>
      <v-layout 
        row 
        wrap
        justify-start
        align-content-start>
        <v-flex 
          v-if="showFilters"
          shrink>
          <v-btn
            v-if="buttonTop"
            color="success"
            @click="upload">
            Save
          </v-btn>
        </v-flex>
        <v-flex 
          v-if="showFilters"
          xs4>
          <v-select
            :menu-props="{ 'z-index': 200}"
            :items="[{id:'all', name: 'All'}, ...columnsToShow]"
            v-model="selectedFilterField"
            item-value="id"
            item-text="name"
            label="Select a column to filter"
            box
            @change="changeFilterField"
          />
        </v-flex>
        <v-spacer />
        <v-flex       
          v-if="showFilters"
          xs4>
          <v-select
            v-if="(selectedFilterField !== 'all')"
            :menu-props="{ 'z-index': 200}"
            :items="filterValues"
            v-model="selectedFilterValue"
            label="Select a value to filter"
            box
            @change="changeFilterValue"

          />
        </v-flex>


      </v-layout>
    </v-flex>
  


    <!--Table start -------------------------------- -->
    <v-flex 
      xs12
      align-self-center>
      <HandsonTable
        v-if="mounted"
        :key="key"
        :ref="tableRef"
        :settings="tableSettings"
        class="upload" 
      />
      <v-btn
        v-if="buttonBottom" 
        color="success"
        @click="upload">
        Save
      </v-btn>

    </v-flex>
  </v-layout>
</template>

<script>
import HandsonTable from '~/plugins/vue-handsontable'
import handsontableFunctions from '~/components/tools/handsontable/functions'
import handsontableProps from '~/components/tools/handsontable/data'

export default {
  components: {
    HandsonTable
  },
  mixins: [handsontableProps, handsontableFunctions],
  props: {},
  data: () => ({}),
  computed: {},
  mounted() {},
  methods: {}
}
</script>

<style scoped>
.upload {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
</style>
