<template>
  <div>
    <v-list>
      <!-- Items start------ -->
      <v-list-tile
        v-for="(item, i) in mainItems"
        :to="item.to"
        :key="i"
        value="true"
      >
        <v-list-tile-action>
          <v-icon v-html="item.icon"/>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title"/>
        </v-list-tile-content>
      </v-list-tile>
      <!-- Items end------ -->

      <!-- Groupped items start------ -->
      <v-list-group
        v-for="item in grouppedItems"
        v-model="item.active"
        :key="item.title"
        :prepend-icon="item.action"
        no-action >

        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          v-for="subItem in item.subItems"
          :key="subItem.title"
          :to="subItem.to"
          router
          exact
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action v-if="subItem.icon">
            <v-icon v-text="subItem.icon"/>
          </v-list-tile-action>
        </v-list-tile>

      </v-list-group>
      <!-- Groupped items end------ -->

    </v-list>
  </div>
</template>

<script>
import _ from 'lodash'

export default {
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    mainItemsData: [
      {
        title: 'App home',
        icon: 'home',
        to: '/',
        minRole: 'partner'
      },
      {
        title: 'Admin dashboard',
        icon: 'developer_board',
        to: '/admin',
        minRole: 'partner'
      },
      {
        title: 'Orders',
        to: '/admin/orders',
        icon: 'menu',
        minRole: 'partner'
      },
      {
        title: 'Statistics',
        to: '/admin/statistics',
        icon: 'menu',
        minRole: 'admin'
      }
    ],
    grouppedItemsData: [
      {
        action: 'build',
        title: 'Pricing',
        active: false,
        minRole: 'admin',
        subItems: [
          {
            title: 'Maintain exchange rate',
            to: '/admin/pricing/exchange-rate',
            icon: 'menu'
          },
          {
            title: 'Maintain taxes',
            to: '/admin/pricing/tax',
            icon: 'menu'
          },
          {
            title: 'Price of model versions',
            to: '/admin/pricing/versions',
            icon: 'menu'
          },
          {
            title: 'Check stock pricing',
            to: '/admin/pricing/stock',
            icon: 'menu'
          }
        ]
      },
      {
        action: 'build',
        title: 'Stock upload',
        active: false,
        minRole: 'admin',
        subItems: [
          // { title: 'Overview', to: '/admin/stock', icon: 'menu' },
          {
            title: 'From file',
            to: '/admin/stock/file',
            icon: 'menu'
          }
          // {
          //   title: 'Table',
          //   to: '/admin/stock/table',
          //   icon: 'menu'
          // }
        ]
      },
      {
        action: 'build',
        title: 'Catalogues',
        active: false,
        minRole: 'admin',
        subItems: [
          /*
          {
            title: 'Overview',
            to: '/admin/catalogues',
            icon: 'menu'
          },
          */
          {
            title: 'Upload catalogues',
            to: '/admin/catalogues/upload',
            icon: 'menu'
          }
          // {
          //   title: 'Upload original files',
          //   to: '/admin/catalogues/originals',
          //   icon: 'menu'
          // },
          // {
          //   title: 'Upload model versions',
          //   to: '/admin/catalogues/versions',
          //   icon: 'menu'
          // },
          // {
          //   title: 'Upload extras',
          //   to: '/admin/catalogues/extras',
          //   icon: 'menu'
          // },
          // {
          //   title: 'Upload packages',
          //   to: '/admin/catalogues/packages',
          //   icon: 'menu'
          // }
        ]
      },
      {
        action: 'build',
        title: 'Translations',
        active: false,
        minRole: 'partner',
        subItems: [
          { title: 'Short texts', to: '/admin/translate/short', icon: 'menu' },
          { title: 'Long texts', to: '/admin/translate/long', icon: 'menu' },
          { title: 'Mail texts', to: '/admin/translate/mail', icon: 'mail' }
        ]
      }
    ]
  }),
  computed: {
    mainItems() {
      if (this.userRole === 'partner') {
        return _.filter(this.mainItemsData, o => o.minRole === 'partner')
      } else {
        return this.mainItemsData
      }
    },
    grouppedItems() {
      if (this.userRole === 'partner') {
        return _.filter(this.grouppedItemsData, o => o.minRole === 'partner')
      } else {
        return this.grouppedItemsData
      }
    }
  },
  created() {
    this.userRole = this.$store.state.user.user.role
  },
  methods: {}
}
</script>

<style scoped>
</style>
