<template>
  <v-toolbar 
    floating
    fixed
    dense
    class="floating-toolbar primary">
    <v-toolbar-items class="hidden-sm-and-down">
      <v-tooltip bottom>
        <v-btn
          slot="activator"
          icon 
          dark 
          @click="navigationDrawer = !navigationDrawer"
        >
          <v-icon 
            class="title--text" 
            medium>mdi-menu</v-icon>
        </v-btn>
        <span >{{ $t('menu.menu') }}</span>
      </v-tooltip>

      <v-tooltip
        v-if="user"
        bottom>
        <v-btn
          v-if="user"
          slot="activator"
          icon 
          dark 
          @click="signout"
        >
          <v-icon medium>mdi-logout-variant</v-icon>
        </v-btn>
        <span>{{ $t('action.logout') }}</span>
      </v-tooltip>

      <v-tooltip
        v-else
        bottom>
        <v-btn
          slot="activator"
          icon 
          dark 
          @click="signin"
        >
          <v-icon medium>mdi-login-variant</v-icon>
        </v-btn>
        <span>{{ $t('action.login') }}</span>
      </v-tooltip>


      <v-menu 
        bottom 
        left>
        <v-btn
          slot="activator"
          icon 
          dark 
        >
          <v-icon medium>mdi-web</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile
            v-for="(item, i) in languages"
            :key="i"
            @click="selectLanguage(item.id)"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>

      </v-menu>
      <!--
      <v-tooltip
        bottom>
        <v-btn
          slot="activator"
          icon 
          dark
          color="blue"
          @click="help"
        >
          <v-icon medium>mdi-help</v-icon>
        </v-btn>
        <span>{{ $t('menu.help') }}</span>
      </v-tooltip>


      Facebook start
      <v-tooltip bottom>
        <v-btn
          slot="activator"
          icon 
          dark 
        >
          <v-icon 
            color="blue" 
            medium>mdi-facebook</v-icon>
        </v-btn>
        <span>Facebook</span>
      </v-tooltip>
      Facebook end -->

    </v-toolbar-items>
  </v-toolbar>




</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    toolbarColor: {
      type: String,
      default: 'primary'
    },
    options: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    languages: [
      { id: 'en', title: 'English' },
      { id: 'de', title: 'Deutsch' },
      { id: 'hu', title: 'Magyar' },
      { id: 'code', title: 'Show text codes' }
    ],
    clipped: false,
    fixed: false
  }),
  computed: {
    ...mapFields(['dialogLogin', 'navigationDrawer', 'locale']),
    user() {
      return this.$store.state.user.user
    },
    title() {
      return this.$t('app.title')
    },
    email() {
      return this.$store.state.user.user != null
        ? this.$store.state.user.user.email
        : ''
    }
  },
  methods: {
    ...mapActions('user', ['logout']),
    signout() {
      this.logout()
      this.$router.push(`/`)
    },
    help() {},
    signin() {
      // this.$router.push(`/auth/login`)
      this.dialogLogin = true
    },
    selectLanguage(locale) {
      this.$store.dispatch('changeLanguage', locale)
      /*
      import(`vee-validate/dist/locale/${locale}`).then(localeModule => {
        this.$validator.localize(locale, localeModule)
      })
      */
      this.$vuetify.lang.current = locale
      // this.$i18n.locale = locale
    }
  }
}
</script>

<style>
#user {
  color: white;
}
</style>
