<template>
  <v-layout
    row 
    wrap
    justify-center
    align-content-center
    align-space-around
    class="my-drawer">

    <v-flex
      xs12
      class="fb-page fb-window" 
      data-href="https://www.facebook.com/Newcarsfromstock-838667573143469" 
      data-small-header="false" 
      data-adapt-container-width="true" 
      data-hide-cover="false" 
      data-show-facepile="false">
      <blockquote 
        cite="https://www.facebook.com/Newcarsfromstock-838667573143469" 
        class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/Newcarsfromstock-838667573143469"/>
      </blockquote>
    </v-flex>
    

    <!--
    <v-flex
      xs12
    >
      <v-img
        :contain="true"
        :src="require(`../../assets/images/newcarsfromstock_logo.png`)"
        position="center"
        max-height="10vh"
      />
    </v-flex> -->
    <v-flex xs12>
      <!-- <div class="headline mb-2 text-md-center">NewCarsFromStock</div>  -->
      
      <div 
        v-if="user" 
        class="subheading mb-2 text-md-center">{{ user.email }}</div> 

    </v-flex>
    <v-flex xs12> 
      <Menu :items="pageItems" /> 
    </v-flex>
  </v-layout>

</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Menu from '~/layouts/components/menu'
import _ from 'lodash'
export default {
  components: {
    Menu
  },
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    pageItemsData: [
      {
        title: 'home',
        to: '/',
        icon: 'mdi-home',
        minRole: 'user'
      },
      {
        title: 'search_car',
        to: '/find-car',
        icon: 'mdi-car-multiple',
        minRole: 'user'
      },
      // { title: 'promotions', to: '/promotions', icon: 'menu' },
      { divider: true, minRole: 'user' },
      {
        title: 'cart',
        to: '/cart',
        icon: 'mdi-cart',
        minRole: 'user'
      },
      {
        title: 'orders',
        to: '/your-orders',
        icon: 'mdi-file-document',
        minRole: 'user'
      },
      {
        group: true,
        action: 'mdi-account-card-details',
        title: 'profile_group',
        active: false,
        minRole: 'user',
        subItems: [
          { title: 'profile', to: '/user/profile' },
          { title: 'email', to: '/user/email' },
          { title: 'password', to: '/user/password' }
        ]
      },
      { divider: true, minRole: 'user' },
      {
        group: true,
        action: 'mdi-file-document',
        title: 'impressum_group',
        active: false,
        minRole: 'user',
        subItems: [
          { title: 'impressum', to: '/impressum' },
          { title: 'data_protection', to: '/data-protection' },
          { title: 'contact', to: '/contact' }
          // { title: 'help', to: '/help' }
        ]
      },
      { divider: true, minRole: 'user' },
      {
        title: 'translate_short',
        to: '/translates/short',
        icon: 'mdi-pencil',
        minRole: 'user'
      },
      {
        title: 'translate_long',
        to: '/translates/long',
        icon: 'mdi-pencil',
        minRole: 'user'
      }
    ]
  }),
  computed: {
    ...mapFields(['indexPage']),
    user() {
      return this.$store.state.user.user
    },
    pageItems() {
      const user = this.$store.state.user.user
      if (!user || user.role === 'user') {
        return _.filter(this.pageItemsData, item => item.minRole === 'user')
      }
      return this.pageItemsData
    }
  },
  mounted() {
    this.$fb()
  },
  methods: {}
}
</script>

<style scoped>
.my-drawer {
  margin-top: 80px;
  min-height: 80%;
}
.fb-window {
  padding: 0px 10px 5px 10px;
  margin-right: 10px;
}
</style>
