<template>
  <v-content>
    <v-container fluid>
      <v-layout 
        class="main-container"
        column
        justify-start
        fill-height>
        <!-- Right side start ---------------------------------------------->
        <v-flex xs12>
          <div class="primary--text display-4" >
            {{ $t(title) }}
          </div>              
          <div 
            v-if="subtitle" 
            class="display-1" >
            {{ $t(subtitle) }}
          </div>
          <div 
            v-if="information" 
            class="body-2" 
            v-html="$t(information)"/>
        </v-flex>
        <br>
        <v-flex
          xs12>
          

          <slot name="body"/>

        </v-flex>

      </v-layout>

    </v-container>

  </v-content>

</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Toolbar from '~/layouts/components/app-toolbar'
import LoginDialog from '~/components/dialogs/login'
import MessageDialog from '~/components/dialogs/message'
export default {
  components: {
    Toolbar,
    LoginDialog,
    MessageDialog
  },
  props: {
    title: {
      type: String,
      required: true
    },
    subtitle: {
      type: String,
      default: null
    },
    information: {
      type: String,
      default: null
    }
  },
  data: () => ({}),
  computed: {
    ...mapFields(['navigationDrawer']),
    user() {
      return this.$store.state.user.user
    }
  }
}
</script>
<style>
/*top, right, bottom, left*/
.no-padding {
  padding: 0px;
}
.main-container {
  margin: 0px 0px 0px 0px;
}
.logo {
  /* padding: 10px 10px 10px 10px;*/
}
.left {
  /*
  margin-top: 50px;
  margin-bottom: 20px;
  */
}
.right-action {
}
.right-text {
}
.middle {
  /* min-height: 60vh; */
}
</style>
