<template>
  <div>
    <v-list>
      <!-- Items start------ -->
      <v-list-tile 
        v-for="(item, i) in mainItems" 
        :to="item.to" 
        :key="i" 
        value="true">
        <v-list-tile-action>
          <v-icon v-html="item.icon"/>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="item.title"/>
        </v-list-tile-content>
      </v-list-tile>
      <!-- Items end------ -->

      <!-- Groupped items start------ -->
      <v-list-group
        v-for="item in grouppedItems"
        v-model="item.active"
        :key="item.title"
        :prepend-icon="item.action"
        no-action
      >
        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          v-for="subItem in item.subItems"
          :key="subItem.title"
          :to="subItem.to"
          router
          exact
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
          </v-list-tile-content>

          <v-list-tile-action v-if="subItem.icon">
            <v-icon v-text="subItem.icon"/>
          </v-list-tile-action>
        </v-list-tile>
      </v-list-group>
      <!-- Groupped items end------ -->
    </v-list>
  </div>
</template>

<script>
export default {
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    mainItems: [
      { title: 'App home', icon: 'home', to: '/work-index' },
      { title: 'Admin dashboard', icon: 'developer_board', to: '/admin' },
      { title: 'Developer dashboard', icon: 'build', to: '/dev' }
    ],
    grouppedItems: [
      {
        action: 'build',
        title: 'Collection maintenance',
        active: false,
        subItems: [
          {
            title: 'Copy from db to bucket',
            to: '/dev/collection/dbtobucket'
          },
          {
            title: 'Copy from bucket to db',
            to: '/dev/collection/buckettodb'
          },
          {
            title: 'Copy from db to json',
            to: '/dev/collection/dbtojson'
          },
          {
            title: 'Copy from json to db',
            to: '/dev/collection/jsontodb'
          },
          {
            title: 'Maintain json files',
            to: '/dev/collection/json'
          },
          {
            title: 'Maintain db collections',
            to: '/dev/collection/db'
          }
        ]
      },
      {
        action: 'verified_user',
        title: 'Tests',
        active: false,
        subItems: [
          {
            title: 'Image upload',
            to: '/dev/tests/image-upload',
            icon: 'menu'
          },
          { title: 'Test 2.', to: '/dev/tests/test2', icon: 'extension' },
          { title: 'Test 3.', to: '/dev/tests/test3', icon: 'bubble_chart' }
        ]
      },
      {
        action: 'verified_user',
        title: 'Database tests',
        active: false,
        subItems: [
          { title: 'Authentication', to: '/dev/db-tests/auth', icon: 'menu' },
          {
            title: 'Firestore test - not installed',
            to: '/dev/db-tests/firestore',
            icon: 'extension'
          },
          {
            title: 'Api (Flask) test',
            to: '/dev/db-tests/flask',
            icon: 'extension'
          },
          {
            title: 'Api (Koa) test',
            to: '/dev/db-tests/koa',
            icon: 'extension'
          },
          {
            title: 'Handsontable',
            to: '/dev/db-tests/handsontable',
            icon: 'extension'
          },
          { title: 'Form test', to: '/dev/db-tests/form', icon: 'extension' }
        ]
      }
    ]
  }),
  computed: {},
  created() {},
  methods: {}
}
</script>

<style scoped>
</style>
