<template>
  <v-list >
    <div 
      v-for="item in items"
      :key="item.to">

      <v-divider v-if="item.divider" />

      <v-list-tile
        v-if="!item.divider && !item.group"       
        :to="item.to"
        :key="item.to"
        nuxt
        @click="action(item.to)"
      >
        <v-list-tile-action>
          <v-icon v-html="item.icon"/>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title v-text="$t(`menu.${item.title}`)"/>
        </v-list-tile-content>
      </v-list-tile>

      <!-- Groupped items start------ -->
      <v-list-group
        v-if="item.group"
        v-model="item.active"
        :key="item.title"
        :prepend-icon="item.action"
        no-action >

        <v-list-tile slot="activator">
          <v-list-tile-content>
            <v-list-tile-title v-text="$t(`menu.${item.title}`)"/>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          v-for="subItem in item.subItems"
          :key="subItem.title"
          :to="subItem.to"
          nuxt
        >
          <v-list-tile-content>
            <v-list-tile-title v-text="$t(`menu.${subItem.title}`)"/>
          </v-list-tile-content>

          <v-list-tile-action v-if="subItem.icon">
            <v-icon v-text="subItem.icon"/>
          </v-list-tile-action>
        </v-list-tile>

      </v-list-group>
      <!-- Groupped items end------ -->







    </div>
  </v-list>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
// import { mapFields } from 'vuex-map-fields'
export default {
  props: {
    items: {
      type: Array,
      default: () => []
    },
    group: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({}),
  computed: {
    ...mapFields(['returnPage'])
  },
  mounted() {},
  methods: {
    action(to) {
      this.returnPage = to
    }
  }
}
</script>

<style scoped>
</style>
