<template>


  <v-toolbar
    id="header" 
    v-bind="options"
    fixed
  >
    <slot />

    <v-spacer/>
    <nuxt-link
      id="user"
      to="/user">
      {{ email }}
    </nuxt-link>
    <v-btn
      v-if="user"
      icon 
      @click="signout">
      <v-icon>mdi-logout-variant</v-icon>
    </v-btn>

    <v-btn
      v-else
      icon 
      @click="signin">
      <v-icon>mdi-login-variant</v-icon>
    </v-btn>

    <v-menu 
      bottom 
      left>

      <v-btn 
        slot="activator"
        class="amber--text text--accent-2"
        dark

        icon >
        <v-icon>mdi-web</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="(item, i) in languages"
          :key="i"
          @click="selectLanguage(item.id)"
        >
          <v-list-tile-title>{{ item.title }}</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-menu>
  </v-toolbar>


</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    toolbarColor: {
      type: String,
      default: 'primary'
    },
    options: {
      type: Object,
      default: () => {}
    }
  },
  data: () => ({
    languages: [
      { id: 'en', title: 'English' },
      { id: 'de', title: 'Deutsch' },
      { id: 'hu', title: 'Magyar' }
    ],
    clipped: false,
    fixed: false
  }),
  computed: {
    ...mapFields(['dialogLogin']),
    user() {
      return this.$store.state.user.user
    },
    title() {
      return this.$t('app.title')
    },
    email() {
      return this.$store.state.user.user != null
        ? this.$store.state.user.user.email
        : ''
    }
  },
  methods: {
    ...mapActions('user', ['logout']),
    signout() {
      this.logout()
      this.$router.go(`/`)
    },
    signin() {
      // this.$router.push(`/auth/login`)
      this.dialogLogin = true
    },
    selectLanguage(locale) {
      this.$store.dispatch('changeLanguage', locale)
      /*
      import(`vee-validate/dist/locale/${locale}`).then(localeModule => {
        this.$validator.localize(locale, localeModule)
      })
      */
      this.$vuetify.lang.current = locale
      // this.$i18n.locale = locale
    }
  }
}
</script>

<style>
.my-background {
  min-height: 100vh;
  background: url('~assets/images/white_carbonfiber.png');
}
#user {
  color: white;
}
</style>
