<template>
  <v-container 
    class="no-padding" 
    fluid 
  >   
    <v-layout
      class="all"
      row
      wrap>

      <!-- Left side start ---------------------------------------------->
      <v-flex 
        xs4
        dark
        class="left-side left-side-fix blue-grey darken-4">


        <v-layout 
          row 
          wrap
          class ="white--text" 
          align-content-space-between
          align-content-center
          justify-center
          align-end>

          <v-flex
            xs12 
            align-self-center>
            <Logo />
          </v-flex >
  

          <slot name="left-side"/>
          
          <v-container id="company">
            <v-layout
              column
              fill-height
              align-center
            > 
              <v-flex 
                xs12>
                <Company />
              </v-flex >

            </v-layout>
            
          </v-container>       
        
        </v-layout> 

      </v-flex >

      <!-- Left side end ---------------------------------------------->

      <!-- Right side start ---------------------------------------------->
      <Toolbar
        :options="{ app: false, color: 'blue-grey darken-3', dark: true }"
      >
        <v-btn 
          flat 
          to="/">{{ $t('menu.home') }}</v-btn>
        <v-btn 
          flat 
          to="/cart">{{ $t('menu.cart') }}</v-btn>
        <v-btn 
          flat 
          to="/orders">{{ $t('menu.order') }}</v-btn>
        <v-menu 
          v-if="user"
          offset-y>
          <v-btn 
            slot="activator"
            flat>
            {{ $t('menu.personal') }}
          </v-btn>
          <v-list
            expand>
            <v-list-tile @click="openUserDialog('personal')">
              <v-list-tile-title>
                {{ $t('field.personal') }}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="openUserDialog('password')">
              <v-list-tile-title>
                {{ $t('field.password') }}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="openUserDialog('delivery')">
              <v-list-tile-title>
                {{ $t('field.delivery') }}
              </v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="openUserDialog('invoice')">
              <v-list-tile-title>
                {{ $t('field.invoice') }}
              </v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </Toolbar>
      <v-flex 
        xs12
        class="right-side">
        <slot name="right-side"/>
      </v-flex >
      <!-- Right side end ---------------------------------------------->
    </v-layout> 
    <CookieDialog 
      :cookie="showCookieDialog"
      @accept="showCookieDialog=false"
      @decline="showCookieDialog=false" />
  </v-container>
</template>

<script>
import Logo from '~/components/newcars-logo'
import Company from '~/components/company-details'
import Toolbar from '~/layouts/components/toolbar'
import CookieDialog from '~/components/cookies/dialog'
import { mapFields } from 'vuex-map-fields'

export default {
  components: {
    Logo,
    Company,
    Toolbar,
    CookieDialog
  },
  data: () => ({
    selectedLanguage: 'en',
    languages: [
      { id: 'en', title: 'English' },
      { id: 'de', title: 'Deutsch' },
      { id: 'hu', title: 'Magyar' }
    ],
    toolbarColor: 'primary',
    title: 'App',
    clipped: false,
    fixed: false,
    showCookieDialog: false
  }),
  computed: {
    user() {
      return this.$store.state.user.user
    },
    ...mapFields({
      dialog: 'dialogUser',
      userPage: 'userPage'
    })
  },
  mounted: function() {
    const cookiePolicy = localStorage.getItem('cookiePolicy')
    if (cookiePolicy === 'Accepted' || this.$store.state.cookieStatement) {
      this.showCookieDialog = false
    } else {
      this.showCookieDialog = true
    }
  },
  methods: {
    selectLanguage(locale) {
      this.selectedLanguage = locale
      /*
      import(`vee-validate/dist/locale/${locale}`).then(localeModule => {
        this.$validator.localize(locale, localeModule)
      })
      */
      this.$vuetify.lang.current = 'en'
      this.$store.commit('SET_LOCALE', locale)
      this.$i18n.locale = locale
    },
    async openUserDialog(page) {
      let form
      switch (page) {
        case 'personal':
          form = await this.$axios.$get(
            `/db/users/${this.$store.state.user.user._id}`
          )
          this.$store.commit('user/setUSER', form)
          break
        case 'invoice':
          if (this.$store.state.user.user.company) {
            form = await this.$axios.$get('/db/companyInvoicing/filter', {
              params: { userId: this.$store.state.user.user._id }
            })
          } else {
            form = await this.$axios.$get('/db/personInvoicing/filter', {
              params: { userId: this.$store.state.user.user._id }
            })
          }
          this.$store.commit('SET_INVOICE_ADDRESS', form[0])
          break
        case 'delivery':
          if (this.$store.state.user.user.company) {
            form = await this.$axios.$get('/db/companyDelivery/filter', {
              params: { userId: this.$store.state.user.user._id }
            })
          } else {
            form = await this.$axios.$get('/db/personDelivery/filter', {
              params: { userId: this.$store.state.user.user._id }
            })
          }
          this.$store.commit('SET_DELIVERY_ADDRESS', form[0])
          break
      }
      this.dialog = true
      this.userPage = page
    }
  }
}
</script>

<style>
#cookie {
  min-width: 100%;
  max-height: 150px;
  position: fixed !important;
  bottom: 0 !important;
  z-index: 3 !important;
}
#company {
  position: fixed;
  bottom: 0;
  max-height: 20vh;
}
</style>
