<template>
  <v-container 
    fluid 
    fill-height
    class="no-padding">
    <v-flex 
      xs6
      class="my-background2">
      <v-tooltip right>
        <v-btn
          slot="activator"
          icon
          large
          target="_blank"
          @click.stop="navigationDrawer = !navigationDrawer"
        >
          <v-icon large>mdi-menu</v-icon>
        </v-btn>
        <span>Source</span>
      </v-tooltip>
      <v-tooltip right>
        <v-btn 
          slot="activator" 
          icon 
          large >
          <v-icon large>mdi-codepen</v-icon>
        </v-btn>
        <span>Codepen</span>
      </v-tooltip>
    </v-flex>

    <v-flex xs6>
      <v-content>
        <v-container 
          fluid 
          fill-height>
          <v-layout 
            justify-center 
            align-center>
            <slot name="right-side"/>
          </v-layout>
        </v-container>
      </v-content>
    </v-flex>


    <CookieDialog 
      :cookie="showCookieDialog"
      @accept="showCookieDialog=false"
      @decline="showCookieDialog=false" />
  </v-container>
</template>

<script>
import Logo from '~/components/newcars-logo'
import Company from '~/components/company-details'
import Toolbar from '~/layouts/components/toolbar'
import { mapFields } from 'vuex-map-fields'
import CookieDialog from '~/components/cookies/dialog'

export default {
  components: {
    Logo,
    Company,
    Toolbar,
    CookieDialog
  },
  data: () => ({
    selectedLanguage: 'en',
    languages: [
      { id: 'en', title: 'English' },
      { id: 'de', title: 'Deutsch' },
      { id: 'hu', title: 'Magyar' }
    ],
    toolbarColor: 'primary',
    title: 'App',
    clipped: false,
    fixed: false,
    showCookieDialog: false
  }),
  computed: {
    ...mapFields(['navigationDrawer']),
    user() {
      return this.$store.state.user.user
    }
  },
  mounted: function() {
    const cookiePolicy = localStorage.getItem('cookiePolicy')
    if (cookiePolicy === 'Accepted' || this.$store.state.cookieStatement) {
      this.showCookieDialog = false
    } else {
      this.showCookieDialog = true
    }
  },
  methods: {
    selectLanguage(locale) {
      this.selectedLanguage = locale
      /*
      import(`vee-validate/dist/locale/${locale}`).then(localeModule => {
        this.$validator.localize(locale, localeModule)
      })
      */
      this.$vuetify.lang.current = 'en'
      this.$store.commit('SET_LOCALE', locale)
      this.$i18n.locale = locale
    }
  }
}
</script>

<style>
#cookie {
  min-width: 100%;
  max-height: 150px;
  position: fixed !important;
  bottom: 0 !important;
  z-index: 3 !important;
}
#company {
  position: fixed;
  bottom: 0;
  max-height: 20vh;
}
</style>
