<template>
  <v-container 
    fluid 
  >
    <v-layout
      row 
      wrap>

      <v-flex 
        xs7 
        class="right-border">
        Mila Carconcept GmbH<br>
        Dörntener Str. 20<br>
        D-38640 Goslar<br>
        mikos@mila-carconcept.de<br>
        +49 5321 6861374<br>
      </v-flex >
      <v-flex
        class="info-right"
        xs5
        align-self-center>
        <Info ref="infoDialog"/>
        <v-btn 
          dark 
          block 
          color="light-blue darken-4" 
          @click="$refs.infoDialog.open()">
          <v-icon>mdi-information-variant</v-icon> 
          info
        </v-btn>
      </v-flex >

    </v-layout>   
  </v-container>
</template>

<script>
import Info from '~/components/info'

export default {
  components: {
    Info
  },
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    title: null
  }),
  computed: {},
  created() {},
  methods: {}
}
</script>

<style scoped>
.right-border {
  border-style: none double none none;
  border-right-color: white;
}
.info-right {
  padding-left: 5vh;
}
</style>
