<template>
  <v-flex 
    fill-height 
    class="" >
    <HotTable
      v-if="mounted"
      :ref="id" 
      :settings="clonedSettings"
    />
  </v-flex>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import HotTable from '~/plugins/vue-handsontable'
import _ from 'lodash'

export default {
  components: {
    HotTable
  },
  props: {
    id: {
      type: String,
      default: 'hot-table'
    },
    // eslint-disable-next-line vue/require-default-prop
    initialData: {
      type: Array
    },
    // eslint-disable-next-line vue/require-default-prop
    settings: {
      type: Object
    }
  },
  data: () => ({
    mounted: false,
    successMessages: [],
    errorMessages: []
    // errors: []
  }),
  computed: {
    clonedSettings() {
      let settings = _.cloneDeep(this.settings)
      settings.data = _.cloneDeep(this.initialData)
      return settings
    },
    data() {
      let result = []
      const list = this.$refs[this.id].table.getSourceData()
      for (const [index, record] of list.entries()) {
        if (!this.$refs[this.id].table.isEmptyRow(index)) {
          result.push(record)
        }
      }
      return result
    }
  },
  mounted() {
    this.mounted = true
    // this.render()
  },
  created() {
    this.collection = new this.$Collection(this.collectionName)
    this.originalData = _.cloneDeep(this.settings.data)
  },
  methods: {
    render() {
      this.$refs[this.id].table.render()
    },
    async wait(ms = 3000) {
      const wait = ms =>
        new Promise((resolve, reject) => setTimeout(resolve, ms))
      await wait(ms)
      if (toRender) this.render()
    }
  }
}
</script>

<style scoped>
.upload {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}
</style>
