<template>


  <v-toolbar 
    :color="toolbarColor" 
    dark 
  >

    <div class="btn-container">
      <v-btn 
        flat 
        @click="home">{{ $t('menu.home') }}</v-btn>
      <v-btn 
        flat 
        @click="cart">{{ $t('menu.cart') }}</v-btn>
      <v-btn 
        flat 
        @click="order">{{ $t('menu.order') }}</v-btn>
      <v-menu 
        v-if="email"
        offset-y>
        <v-btn
          slot="activator"
          flat>
          {{ $t('menu.personal') }}
        </v-btn>
        <v-list>
          <v-list-tile>
            <v-list-tile-title>
              <nuxt-link 
                class="side-button"
                to="/user">
                {{ $t('field.personal') }}
              </nuxt-link>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>
              <nuxt-link
                class="side-button"
                to="/user/password">
                {{ $t('field.password') }}
              </nuxt-link>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>
              <nuxt-link 
                class="side-button"
                to="/user/delivery">
                {{ $t('field.delivery') }}
              </nuxt-link>
            </v-list-tile-title>
          </v-list-tile>
          <v-list-tile>
            <v-list-tile-title>
              <nuxt-link 
                class="side-button"
                to="/user/invoicing">
                {{ $t('field.invoice') }}
              </nuxt-link>
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
    <div class="right">
      <v-btn
        v-if="user"
        icon 
        @click="signout">
        <v-icon>mdi-logout-variant</v-icon>
      </v-btn>

      <v-btn
        v-else
        icon 
        @click="signin">
        <v-icon>mdi-login-variant</v-icon>
      </v-btn>

      <v-menu 
        bottom 
        left>

        <v-btn 
          slot="activator"
          class="amber--text text--accent-2"
          dark

          icon >
          <v-icon>mdi-web</v-icon>
        </v-btn>
        <v-list>
          <v-list-tile
            v-for="(item, i) in languages"
            :key="i"
            @click="selectLanguage(item.id)"
          >
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </div>
  </v-toolbar>


</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    toolbarColor: {
      type: String,
      default: 'primary'
    }
  },
  data: () => ({
    languages: [
      { id: 'en', title: 'English' },
      { id: 'de', title: 'Deutsch' },
      { id: 'hu', title: 'Magyar' }
    ],
    clipped: false,
    fixed: false
  }),
  computed: {
    ...mapFields(['dialogLogin']),
    user() {
      return this.$store.state.user.user
    },
    title() {
      return this.$t('app.title')
    },
    email() {
      return this.$store.state.user.user != null
        ? this.$store.state.user.user.email
        : ''
    }
  },
  methods: {
    home() {
      this.$router.push('/')
    },
    cart() {
      // this.$store.commit('SET_RETURN_PAGE', `/cart`)
      this.$router.push('/cart')
    },
    order() {
      // this.$store.commit('SET_RETURN_PAGE', `/orders`)
      this.$router.push('/orders')
    },
    ...mapActions('user', ['logout']),
    signout() {
      this.logout()
      this.$router.push(`/`)
    },
    signin() {
      // this.$router.push(`/auth/login`)
      this.dialogLogin = true
    },
    selectLanguage(locale) {
      this.$store.dispatch('changeLanguage', locale)
      /*
      import(`vee-validate/dist/locale/${locale}`).then(localeModule => {
        this.$validator.localize(locale, localeModule)
      })
      */
      this.$vuetify.lang.current = locale
      // this.$i18n.locale = locale
    }
  }
}
</script>

<style>
.side-button {
  color: black !important;
  text-decoration: none;
}
.btn-container {
  position: absolute;
  left: 0;
  top: 25px;
  transform: translate(0, -50%);
}
.right {
  position: absolute;
  top: 25px;
  right: 30%;
  transform: translate(0, -50%);
  padding: 0 5px;
}
.my-background {
  min-height: 100vh;
  background: url('~assets/images/white_carbonfiber.png');
}
#user {
  color: white;
}
</style>
