<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          {{ $t('title.information') }}
        </v-card-title>

        <v-card-text>
          {{ $t('index.information') }}
         
        </v-card-text>

        <v-divider/>

        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="primary"
            flat
            @click="close"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {},
  data: () => ({
    dialog: false
  }),
  computed: {
    dialogOpened() {
      get()
      if (
        !this.$store.getters['user/isAuthenticated'] &&
        this.dialog === 'init'
      ) {
        return true
      } else if (this.dialog === 'init') return false
      return this.dialog
    }
  },
  created() {},
  methods: {
    open() {
      this.dialog = true
    },
    close() {
      this.dialog = false
    }
  }
}
</script>

<style scoped>
</style>
