<template>
  <v-flex 
    xs12 
    align-self-center>

    
    <v-img
      :src="require(`../assets/images/newcarsfromstock_logo.png`)"
      :contain="true"
      :max-height="logoHeight"
    />


    <v-img
      v-if="showText"
      :src="require(`../assets/images/newcarsfromstock_text.png`)"
      :contain="true"
      max-height="3vh"
    />


  </v-flex >

</template>

<script>
export default {
  props: {
    logoHeight: {
      type: [String, Number],
      default: '15vh'
    },
    textHeight: {
      type: [String, Number],
      default: '3vh'
    },
    showText: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style scoped>
</style>
