<template>
  <v-layout 
    class="middle"
    row 
    wrap 
    justify-center 
    align-center 
    align-content-space-between>
    <v-flex
      v-if="validToken"
      xs6>
      <v-card 
        id="card"
        elevation="24"
        max-height="650">
        <v-layout 
          justify-center 
          align-center>
          <v-flex xs12>
            <h1>{{ $t('title.passwordPage') }}</h1>
            <v-text-field
              v-validate="'required'"
              id="new"
              v-model="form.new"
              :append-icon="show1 ? 'visibility_off' : 'visibility'"
              :type="show1 ? 'text' : 'password'"
              :label="$t('field.newPwd')"
              :error-messages="errors.collect('new')"
              hint="At least 8 characters"
              counter
              data-vv-name="new"/>
            <v-text-field
              v-validate="'required'"
              id="repeat"
              v-model="form.repeat"
              :append-icon="show1 ? 'visibility_off' : 'visibility'"
              :type="show1 ? 'text' : 'password'"
              :label="$t('field.repeatPwd')"
              :error-messages="errors.collect('repeat')"
              hint="At least 8 characters"
              counter
              data-vv-name="repeat"/>
            <div id="button">
              <v-btn
                color="success"
                @click="update">
                {{ $t('action.update') }}
              </v-btn>
            </div>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>
    <v-flex
      v-else
      class="text-xs-center"
      xs12>
      {{ $t('message.expiredToken') }}
    </v-flex>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  layout: 'user',
  data: () => ({
    title: 'Page template',
    form: {
      new: '',
      repeat: ''
    }
  }),
  computed: {
    confirmation() {
      return this.$t('message.passwordChangeConfirm')
    },
    notSame() {
      return this.$t('message.passwordNotSame')
    },
    noMatch() {
      return this.$t('message.wrongPwd')
    },
    validToken() {
      return this.$store.state.forgotToken.validToken
    }
  },
  created() {},
  methods: {
    isMatching() {
      let match = this.form.new === this.form.repeat
      return match
    },
    async update() {
      let match = this.isMatching()
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        if (!match) {
          alert(this.notSame)
        } else {
          let request = this.form
          request['email'] = this.$store.state.forgotToken.email
          delete request.repeat
          let response = await this.$axios.$post(
            '/registered/set-new-password',
            { request }
          )
          if (response.ok) {
            await this.$axios.$post('auth/invalidate-token', {
              data: {
                token: this.$store.state.forgotToken.token,
                email: this.$store.state.forgotToken.email
              }
            })
            alert(this.confirmation)
            this.$router.push('/')
          } else if (response.message === 'mismatch') {
            alert(this.noMatch)
          }
        }
      }
    }
  }
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
#status {
  margin-top: 30%;
}
</style>
