<template>
  <v-layout
    justify-center>
    <v-flex 
      class="card"
      xs4>
      <v-text-field        
        v-validate="'required|email'"
        v-model="formLogin.email"
        :error-messages="errors.collect('email')"
        :label="$t('field.email')"
        data-vv-name="email"
        required/>
      <v-text-field
        v-model="formLogin.password"
        :append-icon="show1 ? 'visibility_off' : 'visibility'"
        :type="show1 ? 'text' : 'password'"
        :label="$t('field.password')"
        required
        name="input-10-1"
        hint="At least 8 characters"
        counter
        @click:append="show1 = !show1"/>
      <v-layout
        row 
        wrap 
        justify-center 
        align-center
        align-content-space-between>
        <v-btn 
          dark 
          color="success" 
          @click="login">{{ $t('action.login') }}
        </v-btn>
        <v-btn 
          dark 
          color="deep-orange" 
          @click="dialog = true">{{ $t('action.forgotPwd') }}
        </v-btn>
      </v-layout>
    </v-flex>
    <v-dialog
      v-model="dialog"
      max-width="600">
      <v-card>
        <v-card-title class="headline">{{ $t('message.confirmEmail') }}</v-card-title>
        <v-layout 
          row 
          wrap 
          justify-center 
          align-content-space-between>
          <v-flex xs8>
            <v-text-field        
              v-validate="'required|email'"
              v-model="confirmEmail"
              :error-messages="errors.collect('confirmEmail')"
              :label="$t('field.email')"
              data-vv-name="confrimEmail"/>
          </v-flex>
        </v-layout>
        <v-card-actions>
          <v-spacer/>
          <v-btn
            color="success"
            dark
            @click="confirm">
            {{ $t('action.confirm') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data: () => ({
    formLogin: {
      email: 'ching.chang@geilewagen.de',
      password: 'geilewagen'
    },
    confirmEmail: null,
    dialog: false
  }),
  computed: {},
  methods: {
    async login() {
      const data = this.formLogin
      await this.$store.dispatch('user/login', data)
      let route
      if (this.$store.state.returnPage) {
        route = this.$store.state.returnPage
      } else {
        route = '/user'
      }
      this.$router.push(route)
    },
    async confirm() {
      const emailCheck = await this.$axios.$get('/api/check-email', {
        params: { email: this.confirmEmail }
      })
      let result
      if (emailCheck.match) {
        result = await this.$axios.$post('/forgot-password', {
          data: { email: this.confirmEmail }
        })
      }
      alert(result)
    }
  }
}
</script>
<style scoped>
/* .left {
  margin-left: 3%;
}
.right {
  margin-right: 3%;
} */
</style>
