<template>
  <v-flex 
    xs12 
    sm6 
    d-flex>
    <v-select
      :menu-props="{ 'z-index': 200}"
      :items="items"
      :label="$t('action.select_brand')"
      v-model="selected"
      box
      item-text="name"
      item-value="id"
      @change="change"
    />
  </v-flex>
</template>

<script>
//vimport { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  // mixins: [crudMixin],
  // components: {},
  data: () => ({
    value: '',
    selected: ''
  }),
  computed: {
    items() {
      return this.$store.state.brands
    }
    /*
    ...mapFields('projects', [
      'form.name',
      'form.description'
    ]),
  */
  },
  mounted() {
    this.selected = this.$store.state.currentBrand.id || ''
  },
  methods: {
    async change(id) {
      const brand = _.filter(this.items, ['id', id])
      this.$store.commit('SET_CURRENT_BRAND', brand[0])
    }
  }

  /*
  async asyncData ({ store, params, query, route, redirect, req }) {
    return {
    }
  }
  */
}
</script>
