<template>
  <Layout>
    <v-layout
      slot="left-side"
      row 
      wrap 
      justify-center 
      align-center 
      align-content-space-between>
      <v-flex 
        xs8
        class="justify">
        {{ $t('descriptions.delivery_page') }}
      </v-flex>
    </v-layout>
    <Delivery slot="right-side" />
  </Layout>
</template>

<script>
import Layout from '~/layouts/components/two-side'
import Delivery from '~/components/user/right-delivery'

export default {
  middleware: 'authenticated',
  components: {
    Layout,
    Delivery
  },
  layout: 'default',
  data: () => ({}),
  computed: {},
  methods: {},
  async fetch({ store, app }) {
    let form
    if (store.state.user.user.company) {
      form = await app.$axios.$get('/db/companyDelivery/filter', {
        params: { userId: store.state.user.user._id }
      })
    } else {
      form = await app.$axios.$get('/db/personDelivery/filter', {
        params: { userId: store.state.user.user._id }
      })
    }
    store.commit('SET_DELIVERY_ADDRESS', form[0])
  }
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
