<template>
  <Layout 
    title="menu.password" > 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap>

      <v-flex xs12>
        <v-card
          id="card"
          class="bglight2"
        >
          <v-card-text>
            <Password />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>  
</template>

<script>
import Layout from '~/layouts/components/app-layout'
import Password from '~/components/user/right-password'

export default {
  middleware: 'authenticated',
  components: {
    Layout,
    Password
  },
  layout: 'empty',
  data: () => ({
    form: {
      old: '',
      new: '',
      repeat: ''
    }
  }),
  computed: {},
  created() {
    this.user = this.$store.state.user.user
    if (this.$store.state.locale === 'de') {
      this.confirmation = 'Passwort geändert'
    } else {
      this.confirmation = 'Password changed'
    }
    if (this.$store.state.locale === 'de') {
      this.notSame =
        'Das neue Passwort und die Bestätigung sind nicht übereinstimmend'
    } else {
      this.notSame = 'no match'
    }
    if (this.$store.state.locale === 'de') {
      this.noMatch = 'Falsch gegebenes alte Passwort'
    } else {
      this.noMatch = 'no match'
    }
  },
  methods: {
    isMatching() {
      let match = this.form.new === this.form.repeat
      return match
    },
    async update() {
      let match = this.isMatching()
      const isValid = await this.$validator.validateAll()
      if (isValid) {
        if (!match) {
          alert(this.notSame)
        } else {
          let request = this.form
          request['_id'] = this.user._id
          delete request.repeat
          let response = await this.$axios.$post('/change-password', {
            request
          })
          if (response.ok) {
            alert(this.confirmation)
          } else if (response.message === 'mismatch') {
            alert(this.noMatch)
          }
        }
      }
    }
  },
  async fetch({ store, params, app }) {}
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
