<template>
  <Layout>
    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="left-side"
      row 
      wrap 
      justify-center 
      align-center 
      align-content-space-between>
      <v-flex 
        xs8
        class="justify">
        {{ $t('descriptions.personal_page') }}
      </v-flex>
    </v-layout>
    <!-- Left side end ---------------------------------------------->

    <!-- Right side start ---------------------------------------------->
    <Personal slot="right-side" />
    <!-- Right side end ---------------------------------------------->

  </Layout>
</template>

<script>
import Layout from '~/layouts/components/two-side'
import Personal from '~/components/user/right-index'

export default {
  middleware: 'authenticated',
  components: {
    Layout,
    Personal
  },
  layout: 'default',
  data: () => ({}),
  computed: {},
  created() {},
  methods: {},
  async fetch({ store, app, user }) {
    let form = await app.$axios.$get(`/db/users/${store.state.user.user._id}`)
    store.commit('user/setUSER', form)
  }
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
