<template>
  <v-layout
    class="middle"
    row 
    wrap 
    align-center
    justify-center 
    align-content-space-between>
    <v-flex xs6>
      <v-card 
        id="card"
        elevation="24"
        min-height="650">
        <v-layout 
          justify-center 
          align-center>
          <v-flex
            id="description"
            class="justify"
            xs12
            v-html="text"/>
        </v-layout>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import _ from 'lodash'

export default {
  data: () => ({}),
  computed: {
    text() {
      return this.$t('long.cookie_policy')
    }
  },
  methods: {}
}
</script>
<style scoped>
.justify {
  text-align: justify;
}
#button {
  text-align: center;
}
</style>
