<template>
  <Layout>
    <v-layout
      slot="left-side"
      row 
      justify-center
      wrap/>
    <Password
      v-if="!switch1"
      slot="right-side"/>
  </Layout>  
</template>

<script>
import Layout from '~/layouts/components/two-side'
import Password from '~/components/right-forgot-password'

export default {
  layout: 'default',
  components: {
    Layout,
    Password
  },
  methods: {
    routeToPerson() {
      this.$router.push('/registration/person')
    },
    routeToCompany() {
      this.$router.push('/registration/company')
    }
  },
  async fetch({ query, store, app }) {
    let result
    try {
      result = await app.$axios.$get(
        `/auth/forgot-password/validate/${query.auth}`
      )
      result['token'] = query.auth
    } catch (err) {
      result = { validToken: false }
    }
    store.commit('SET_FORGOT_TOKEN', result)
  },
  async asyncData({ req }) {
    return { header: req.headers }
  }
}
</script>
<style scoped>
.button {
  text-align: center;
}
.center {
  text-align: center;
  margin-top: 10%;
}
#or {
  text-align: center;
  margin-top: 3%;
}
</style>
