
<template>
  <Layout
    title="menu.password" 
    information="long.password"> 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap>

      <v-flex xs12>
        <FormPassword 
          v-if="token.validToken"
          ref="passwordForm"
          :data="token"
          @afterSave="invalidateToken"/>
        <p v-else>
          {{ $t('long.invalid_token') }}
        </p>
      </v-flex>
    </v-layout>
  </Layout>  
</template>

<script>
import Layout from '~/layouts/components/app-layout'
// import UserForm from '~/components/user/form'
import FormPassword from '~/components/forms/form-password'
// import Company from '~/components/register/right-company'
export default {
  layout: 'default',
  middleware: 'validtoken',
  components: {
    Layout,
    FormPassword
    // Company
  },
  data: () => ({
    radioValue: 'person'
  }),
  computed: {
    switchLabel() {
      return this.switchBool
        ? this.$t('field.company')
        : this.$t('field.person')
    }
  },
  methods: {
    async invalidateToken(answer) {
      if (answer) {
        await this.$db.post('/auth/invalidate-token', {
          token: this.token.token,
          email: this.token.email
        })
        this.$router.push('/')
      }
    }
  },
  async asyncData({ store }) {
    return { token: store.state.forgotToken }
  }
}
</script>
<style scoped>
.center {
  text-align: center;
}
.title {
}
.colored-label {
  color: white;
  font-weight: bold;
}
</style>
