<template>
  <v-layout 
    row 
    wrap 
    justify-center 
    align-content-space-between>
    <v-flex xs12>
      <v-layout
        row
        wrap
        justify-center
        align-center
        align-content-space-between>
        <v-flex xs6>
          <div class="center">
            <p>{{ $t('field.register') }}</p>
            <p>{{ $t('action.registration') }}</p>
          </div>
        </v-flex>
      </v-layout>
      <v-layout
        row 
        wrap 
        justify-center 
        align-content-space-between>
        <v-flex 
          class="button"
          xs7>
          <v-btn 
            dark 
            color="success" 
            @click="routeToPerson">{{ $t('field.person') }}
          </v-btn>
          <br>
          {{ $t('field.or') }}
          <br>
          <v-btn 
            dark 
            color="success" 
            @click="routeToCompany">{{ $t('field.company') }}
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  layout: 'empty',
  methods: {
    routeToPerson() {
      this.$router.push('/registration/person')
    },
    routeToCompany() {
      this.$router.push('/registration/company')
    }
  }
}
</script>
<style scoped>
.button {
  text-align: center;
}
.center {
  text-align: center;
  margin-top: 10%;
}
#or {
  text-align: center;
  margin-top: 3%;
}
</style>
