<template>
  <Layout 
    title="menu.translate_long" > 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap
      class="white--text">
      <v-flex xs5>
        <v-select
          :menu-props="{ 'z-index': 200}"
          :items="groups"
          v-model="selectedGroup"
          label="Select group"
          @change="loadGroup"
        />
      </v-flex>
      <v-btn 
        class="centered-text"
        color="success"
        @click="saveTranslations">
        Save
      </v-btn>
      <v-flex 
        v-if="selectedGroup === 'Add new translation'"
        class="centered-text"
        xs12>
        <v-card
          class="spaced"
          elevation="10">
          <input
            id="new-id"
            v-model="translations.id"
            placeholder="Type here the new id"
          >
        </v-card>
      </v-flex>
      <v-flex 
        v-if="translations"
        xs12>
        <v-card
          class="spaced"
          elevation="10">
          <h2 class="centered-text">German</h2>
          <Editor 
            :translations="translations"
            language="de"/>
        </v-card>
        <v-card
          class="spaced"
          elevation="10">
          <h2 class="centered-text">English</h2>
          <Editor 
            :translations="translations"
            language="en"/>
        </v-card>
        <v-card
          class="spaced"
          elevation="10">
          <h2 class="centered-text">Hungarian</h2>
          <Editor 
            :translations="translations"
            language="hu"/>
        </v-card>
        <v-btn 
          class="centered-text"
          color="success"
          @click="saveTranslations">
          Save
        </v-btn>
      </v-flex>
    </v-layout>
  </Layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import Editor from '~/pages/admin/translate/editor'
import Layout from '~/layouts/components/app-layout'
import _ from 'lodash'
import { mapFields } from 'vuex-map-fields'

export default {
  // middleware: 'partner',
  layout: 'default',
  // mixins: [crudMixin],
  components: {
    Editor,
    Layout
  },
  data: () => ({
    title: 'Long translate',
    selectedGroup: null,
    translations: null,
    origData: null
  }),
  computed: {
    ...mapFields(['locale'])
    /*
      ...mapFields('projects', [
        'form.name',
        'form.description'
      ]),
      test () { retun 'test' }
    */
  },
  created() {
    // this.collection = new this.$Collection('registers')
  },
  methods: {
    async loadGroup(id) {
      if (id === 'Add new translation') {
        this.translations = {
          id: null,
          de: 'deutsch',
          en: 'english',
          hu: 'magyar'
        }
      } else {
        this.translations = await this.$db.get(`/translations/long/${id}`)
      }
    },
    async saveTranslations(id) {
      const data = this.translations
      for (let key in this.translations) {
        if (key !== 'id') {
          let translation = this.translations[key]
          //translation = translation.replace('<p>', '')
          //this.translations[key] = translation.replace('</p>', '')
        }
      }
      const response = await this.$db.post(`/translations/long/${id}`, {
        data
      })
      this.$store.dispatch('changeLanguage', this.locale)
    }
  },
  async asyncData({ app }) {
    const longTextGroups = await app.$db.get('/translations/long/groups')
    longTextGroups.push('Add new translation')
    return {
      groups: longTextGroups
    }
  }
}
</script>

<style scoped>
.centered-text {
  text-align: center;
}
.spaced {
  margin: 8px 0;
}
#new-id {
  margin: 10px;
  border: 1px solid grey;
  width: 500px;
  text-align: center;
}
</style>
