<template>
  <Layout 
    title="menu.translate_short" > 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap
      class="black--text">

      <v-flex xs5>
        <v-select
          :menu-props="{ 'z-index': 200}"
          :items="groups"
          v-model="selectedGroup"
          label="Select group"
          @change="loadGroup"
        />
      </v-flex>
      <v-flex 
        v-if="role === 'developer'"
        xs12>
        <v-btn 
          color="error" 
          dark
          @click="deleteGroup()">Delete group
        </v-btn>

        <v-text-field        
          v-model="newGroup"
          label="Type here the new group id"
          box/>

        <v-btn 
          color="success" 
          dark
          @click="addGroup()">Add new group
        </v-btn>

        <v-flex xs12 >
          <v-switch
            v-model="readDb"
            label="Read database for missing entries"
          />
        </v-flex>

      </v-flex>

      <v-flex 
        xs12
        align-self-center>
        <div class="centered">
          <Handsontable
            v-if="translations"
            ref="table"
            :flatten="false"
            :data="translations"
            :auto-save="false"
            :columns="header"
            @save="update"

          />
        </div>
      </v-flex>
    </v-layout>
  </Layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import Handsontable from '~/components/tools/handsontable'
import Layout from '~/layouts/components/app-layout'
import _ from 'lodash'
import { mapFields } from 'vuex-map-fields'

export default {
  // middleware: 'partner',
  layout: 'default',
  components: {
    Handsontable,
    Layout
  },
  mixins: [],
  data: () => ({
    readDb: false,
    newGroup: '',
    selectedGroup: null,
    title: 'Short translate',
    header: ['id', 'de', 'en', 'hu'],
    translations: null,
    exceptions: ['co2']
  }),
  computed: {
    ...mapFields(['locale', 'user']),
    role() {
      return this.$store.getters['user/role']
    }
  },
  async mounted() {
    // this.data = await this.$axios.$get('/admin/translations')
  },
  methods: {
    addGroup() {
      this.selectedGroup = this.newGroup
      let data = []
      this.translations = data
      if (this.$refs.table) this.$refs.table.reload(data)
    },
    async deleteGroup() {
      await this.$db.post(`translations/delete/${this.selectedGroup}`)
      this.selectedGroup = null
    },
    async loadGroup(id) {
      // this.translations = null
      // let data = await this.$db.get(`/translations/${this.selectedGroup}`)
      // if (this.selectedGroup === 'car') await this.addCarData(data)
      let data = await this.$db.get(`/translations/${id}`)
      for (let item of data) {
        if (!this.exceptions.includes(item.id)) item.id = _.snakeCase(item.id)
      }
      if (this.readDb) {
        if (this.selectedGroup === 'car') data = await this.addCarData(data)
        if (this.selectedGroup === 'equipments')
          data = await this.addextras(data)
      }

      // if (this.selectedGroup === 'fiat') await this.addextras(data)
      // this.groupDataOrigLen = data.length
      // this.groupData = data
      this.translations = data
      if (this.$refs.table) this.$refs.table.reload(data)
    },
    async addCarData(data) {
      const versions = await this.$db.get('/admin/versions')
      for (const [index, version] of Object.entries(versions)) {
        for (const field of ['fuel', 'drive', 'gear']) {
          if (!_.find(data, { id: _.snakeCase(version[field]) })) {
            data.push({
              id: _.snakeCase(version[field]),
              hu: version[field],
              de: '',
              en: ''
            })
          }
        }
      }
      const colors = await this.$db.get('db/colors')
      for (const color of colors) {
        if (
          !_.isEmpty(color.selectName) &&
          !_.find(data, { id: _.snakeCase(color.selectName) })
        ) {
          data.push({
            id: _.snakeCase(color.selectName),
            hu: '',
            de: '',
            en: color.selectName
          })
        }
      }
      return data
    },
    async addextras(data) {
      let newData = []
      const catalogues = await this.$db.get('db/catalogues')
      for (const catalogue of catalogues) {
        if (catalogue.extraList && !_.isEmpty(catalogue.extraList)) {
          for (const extra of catalogue.extraList) {
            let result = _.find(data, { id: _.snakeCase(extra.id) })
            if (!result) {
              newData.push({
                // id: _.snakeCase(extra.id),
                id: extra.id,
                hu: extra.name,
                de: '',
                en: ''
              })
            } else {
              newData.push({
                // id: _.snakeCase(extra.id),
                id: extra.id,
                hu: result.hu,
                de: result.de,
                en: result.en
              })
            }
          }
        }
      }
      return _.uniqBy(newData, 'id')
      // return newData
    },
    async update(data) {
      for (let item of data) {
        if (!this.exceptions.includes(item.id)) item.id = _.snakeCase(item.id)
      }
      await this.$db.post(`/translations/${this.selectedGroup}`, data)
      this.$store.dispatch('changeLanguage', this.locale)
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, app, params, query, route, redirect, req }) {
    const groups = await app.$db.get('/translations/groups')
    return {
      groups: groups
    }
  }
}
</script>

<style scoped>
</style>
