<template>
  <v-app>
    <!-- Left side navigation start ------------------------------- -->
    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      class="leftnav"
      persistent
      enable-resize-watcher
      fixed
      app
    >
      <side-nav />
    </v-navigation-drawer>
    <!-- Left side navigation end ------------------------------ -->

    <!-- Toolbar (header) start ------------------------------ -->

    <Toolbar 
      :options="{ app: true, color: 'red', dark: true, 'clipped-left': clipped }" 
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
      <v-toolbar-title v-text="title"/>
    </Toolbar>
    <!-- Toolbar (header) end ------------------------------ -->

    <!-- Content start ------------------------------ -->
    <v-content>
      <v-container>
        <nuxt />
        <LoginDialog />
        <MessageDialog />
      </v-container>
    </v-content>
    <!-- Content end ------------------------------ -->


    <v-footer 
      :fixed="fixed" 
      app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import Toolbar from '~/layouts/components/toolbar'
import SideNav from '~/layouts/components/admin-sidenav'
import LoginDialog from '~/components/dialogs/login'
import MessageDialog from '~/components/dialogs/message'

export default {
  name: 'App',
  components: {
    Toolbar,
    LoginDialog,
    MessageDialog,
    SideNav
  },
  data: () => ({
    // toolbarColor: 'red',
    toolbarDark: true,
    title: 'Admin',
    clipped: false,
    drawer: true,
    fixed: false,
    miniVariant: false
  })
}
</script>
<style>
.leftnav {
  z-index: 200;
}
.centered-text {
  text-align: center;
}
</style>
