<template>
  <v-app >
    <nuxt />
    <LoginDialog />
    <MessageDialog />
    <UserDialog />
  </v-app>
</template>

<script>
import LoginDialog from '~/components/dialogs/login'
import MessageDialog from '~/components/dialogs/message'
import UserDialog from '~/components/dialogs/user'

export default {
  components: {
    LoginDialog,
    MessageDialog,
    UserDialog
  },
  data: () => ({}),
  computed: {},
  methods: {}
}
</script>

<style scoped>
#card {
}
#header {
  min-height: 7vh;
  padding-left: 30% !important;
  z-index: 1;
}
.alert-border {
  border: solid 2px red;
  color: red;
  text-align: center;
}
.alert-message {
  color: red;
  font-weight: bold;
}
.left-side {
  background: black;
  height: 100vh;
  width: 30%;
  z-index: 2;
}
.left-side-fix {
  /* flex-grow: 1; */
  position: fixed;
}
.right-side {
  /* flex-grow: 5; */
  position: absolute;
  background: #90a4ae;
  top: 7vh;
  min-width: 70%;
  min-height: 93vh;
  overflow: auto;
  left: 30%;
  z-index: 0;
}
.no-padding {
  padding: 0px;
}
.middle {
  min-height: 80vh;
}
</style>
