<template>
  <v-app 
    id="inspire" 
    dark>
    <div id="fb-root"/>
    <v-navigation-drawer
      v-model="navigationDrawer"
      app
      class="bgmedium"
      fixed
      close

      width="350"
    >
      <side-nav />
    </v-navigation-drawer>

    <Toolbar class="my-toolbar"/>
    <div class="my-body">
      <nuxt />
    </div>
    

    <LoginDialog />
    <MessageDialog />
    <UserDialog />
    <OrderConfirmDialog />
    <CookieDialog 
      :cookie="showCookieDialog"
      @accept="showCookieDialog=false"
      @decline="showCookieDialog=false" />


  </v-app>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Toolbar from '~/layouts/components/app-toolbar'
import LoginDialog from '~/components/dialogs/login'
import MessageDialog from '~/components/dialogs/message'
import SideNav from '~/layouts/components/app-sidenav'
import UserDialog from '~/components/dialogs/user'
import CookieDialog from '~/components/dialogs/cookies'
import OrderConfirmDialog from '~/components/dialogs/order-confirmation'

export default {
  components: {
    Toolbar,
    LoginDialog,
    MessageDialog,
    SideNav,
    UserDialog,
    CookieDialog,
    OrderConfirmDialog
  },
  props: {},
  data: () => ({
    // showCookieDialog: true
  }),
  computed: {
    ...mapFields(['navigationDrawer', 'showCookieDialog', 'cookieAccepted'])
  },
  mounted() {
    if (this.cookieAccepted === true) {
      // localStorage.setItem('cookiePolicy', 'Accepted')
      this.showCookieDialog = false
    }
    /*
    const cookiePolicy = localStorage.getItem('cookiePolicy')
    if (cookiePolicy === 'Accepted') {
      this.cookieAccepted = true
      this.showCookieDialog = false
    }
    */
  }
}
</script>
<style>
.floating-toolbar {
  margin-top: 10px !important;
}
.no-padding {
  padding: 0px;
}
.middle {
  min-height: 70vh;
}
.my-toolbar {
  z-index: 3;
}
.my-body {
  padding-left: 30px;
}
.lift-up {
}
</style>
