<template>
  <v-app>
    <!-- Left side navigation start ------------------------------ -->
    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      persistent
      enable-resize-watcher
      fixed
      app
    >

      <side-nav />

    </v-navigation-drawer>
    <!-- Left side navigation end ------------------------------ -->

    <!-- Toolbar (header) start ------------------------------ -->
    <Toolbar 
      :options="{ app: true, color: 'teal', dark: true, 'clipped-left': clipped }" 
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
      <v-btn 
        icon 
        @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"/>
      </v-btn>
      <v-btn 
        icon 
        @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn>
      <v-btn 
        icon 
        @click.stop="fixed = !fixed">
        <v-icon>remove</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
      <v-btn 
        icon 
        @click.stop="rightDrawer = !rightDrawer">
        <v-icon>menu</v-icon>
      </v-btn>
    </Toolbar>
    <!-- Toolbar (header) end ------------------------------ -->

    <!-- Content start ------------------------------ -->
    <v-content>
      <v-container>
        <nuxt />
        <LoginDialog />
        <MessageDialog />
      </v-container>

    </v-content>
    <!-- Content end ------------------------------ -->

    <!-- Right side navigation start ------------------------------ -->
    <v-navigation-drawer
      :right="right"
      v-model="rightDrawer"
      temporary
      fixed
      app
    >
      <v-list>
        <v-list-tile @click="right = !right">
          <v-list-tile-action>
            <v-icon>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- Right side navigation end ------------------------------ -->

    <v-footer 
      :fixed="fixed" 
      app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
import Toolbar from '~/layouts/components/toolbar'
import SideNav from '~/layouts/components/dev-sidenav'
import LoginDialog from '~/components/dialogs/login'
import MessageDialog from '~/components/dialogs/message'

export default {
  name: 'App',
  components: {
    Toolbar,
    LoginDialog,
    MessageDialog,
    SideNav
  },
  data: () => ({
    toolbarColor: 'teal',
    toolbarDark: true,
    title: 'Dev',
    clipped: false,
    drawer: true,
    fixed: false,
    miniVariant: false,
    right: true,
    rightDrawer: false
  })
}
</script>
