<template>
  <v-card 
    id="card"
    elevation="24"
    max-height="650">
    <v-layout 
      align-center
      justify-center>
      <v-flex xs12>
        <v-progress-linear
          v-model="zero"
          color="success"/>
        <h2 class="center">{{ title }}</h2>
        <v-text-field        
          v-validate="'required'"
          v-model="form.firstName"
          :label="$t('field.first_name')"
          :error-messages="errors.collect('firstName')"
          data-vv-name="firstName"/>
        <v-text-field        
          v-validate="'required'"
          v-model="form.lastName"
          :error-messages="errors.collect('lastName')"
          :label="$t('field.last_name')"
          data-vv-name="lastName"/>
        <v-text-field        
          v-validate="'required'"
          v-model="form.phone"
          :error-messages="errors.collect('phoneNumber')"
          :label="$t('field.phone_number')"
          data-vv-name="phoneNumber"/>
        <div id="email">
          {{ emailAlert }}
          <v-text-field        
            v-validate="'required|email'"
            v-model="form.email"
            :error-messages="errors.collect('email')"
            :label="$t('field.email')"
            data-vv-name="email"/>
        </div>
        <div id="passwords">
          {{ passwordAlert }}
          <v-text-field
            v-validate="'required'"
            v-model="form.password"
            :append-icon="show1 ? 'visibility_off' : 'visibility'"
            :type="show1 ? 'text' : 'password'"
            :error-messages="errors.collect('password')"
            :label="$t('field.password')"
            name="password"
            hint="At least 8 characters"
            data-vv-name="password"
            counter
            @click:append="show1 = !show1"/>
          <v-text-field
            v-validate="'required'"
            v-model="repeatedPassword"
            :append-icon="show1 ? 'visibility_off' : 'visibility'"
            :type="show1 ? 'text' : 'password'"
            :error-messages="errors.collect('repeatedPassword')"
            :label="$t('field.repeat_pwd')"
            name="repeatedPassword"
            hint="At least 8 characters"
            data-vv-name="repeatedPassword"
            counter
            @click:append="show1 = !show1"/>
        </div>
        <v-layout
          row 
          wrap 
          justify-center>
          <div id="button">
            <v-btn
              dark 
              color="success" 
              @click="nextScene">
              {{ $t('action.next') }}
            </v-btn>
          </div>
        </v-layout>
      </v-flex>
    </v-layout>
  </v-card>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => {}
    },
    scene: {
      type: Number,
      default: () => 1
    },
    title: {
      type: String,
      default: () => ''
    }
  },
  data: () => ({
    show1: false,
    repeatedPassword: null,
    passwordAlert: null,
    emailAlert: null,
    zero: 0
  }),
  computed: {},
  created() {},
  methods: {
    async nextScene() {
      const valid = await this.$validator.validateAll()
      const emailCheck = await this.$axios.$get('/registration/check-email', {
        params: { email: this.form.email }
      })
      const samePassword = this.form.password === this.repeatedPassword
      if (valid && !emailCheck.match && samePassword) {
        this.$emit('next-scene')
      }
      if (emailCheck.match) {
        this.emailAlert = this.$t('message.emailAlert')
        document.getElementById('email').classList.add('alert-border')
      } else {
        this.emailAlert = null
        document.getElementById('email').classList.remove('alert-border')
      }
      if (!samePassword) {
        this.passwordAlert = this.$t('message.passwordAlert')
        document.getElementById('passwords').classList.add('alert-border')
      } else {
        this.passwordAlert = null
        document.getElementById('passwords').classList.remove('alert-border')
      }
    }
  }
}
</script>

<style scoped>
.center {
  text-align: center;
  margin-top: 2%;
}
</style>
