<template>
  <v-layout
    class="middle"
    row 
    wrap 
    align-center
    justify-center 
    align-content-space-between>
    <v-flex xs6>
      <Personal 
        v-if="scene==1"
        :form="personal"
        :scene="scene"
        :title="title"
        @next-scene="scene++"/>
      <Invoice 
        v-if="scene==2"
        :form="invoice"
        :scene="scene"
        :same_address="sameAddress"
        @next-scene="scene++"
        @previous-scene="scene--"
        @register="register"/>
      <Invoice 
        v-if="scene==3"
        :form="delivery"
        :scene="scene"
        :same_address="sameAddress"
        @previous-scene="scene--"
        @register="register"/>
    </v-flex>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'
import Personal from '~/components/register/register-personal'
import Invoice from '~/components/register/register-company/register-addresses'

export default {
  components: {
    Personal,
    Invoice
  },
  data: () => ({
    scene: 1,
    sameAddress: { sameAddress: false },
    personal: {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      phone: '',
      company: true,
      role: 'user'
    },
    invoice: {
      companyName: '',
      VAT: '',
      street: '',
      city: '',
      postalcode: '',
      country: ''
    },
    delivery: {
      firstName: '',
      lastName: '',
      companyName: '',
      street: '',
      city: '',
      postalcode: '',
      country: ''
    }
  }),
  computed: {
    title() {
      return this.$t('field.company_personal')
    }
  },
  methods: {
    async register() {
      let data = {
        personal: this.personal,
        invoiceAddress: this.invoice
      }
      if (this.sameAddress.sameAddress) {
        data.deliveryAddress = this.invoice
      } else {
        data.deliveryAddress = this.delivery
      }
      const confirm = await this.$axios.$post('/registration/company', {
        data
      })
      const route = this.$store.state.returnPage
      this.$router.push(route)
    }
  }
}
</script>
<style scoped>
.center {
  text-align: center;
  margin-top: 2%;
}
</style>
