<template>
  <Layout 
    title="menu.cart" 
    information="long.cart"> 

    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="body"
      row 
      wrap
      class ="white--text" 
      align-content-space-between
      align-content-center
      justify-center
      align-center>

      <v-flex
        v-if="userCarts.length === 0"
        class="headline"
      >
        {{ $t('message.empty_cart') }}
      </v-flex>
      <v-flex
        v-for="cart in userCarts"
        :key="cart._id"
        xs12
      >
        <Details 
          :item="cart.stock"
        > 
          <div slot="top-left">
            <v-btn 
              color="success" 
              @click="order(cart._id)">
              <v-icon>mdi-cart-arrow-right</v-icon>
              &nbsp; {{ $t('action.order') }}
            </v-btn>
          </div>
          <div slot="bottom-action">
            <v-btn 
              color="success" 
              block
              @click="order(cart._id)">
              <v-icon>mdi-cart-arrow-right</v-icon>
              &nbsp; {{ $t('action.order') }}
            </v-btn>
          </div>

        </Details> 
      </v-flex>

    </v-layout>
  </Layout> 
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Terms from '~/components/terms'
import Layout from '~/layouts/components/app-layout'
import Details from '~/components/car/car-details'

import _ from 'lodash'
export default {
  layout: 'default',
  middleware: 'authenticated',
  // mixins: [crudMixin],
  components: {
    Terms,
    Layout,
    Details
  },
  data: () => ({
    panel: [true]
  }),
  computed: {
    ...mapFields(['termsAccepted']),
    user() {
      return this.$store.state.user.user
    }
  },
  async mounted() {},
  methods: {
    async order(id) {
      // let answer = await this.$db.post(`/registered/order/create/${id}`)
      this.$router.push({ path: `/order`, query: { id: id } })
      // answer = await this.$axios.$get('/mail/admin')
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const stockId = store.state.stockId
    if (stockId) {
      let answer = await app.$db.post(`/carts`, { stock: stockId })
      store.commit('SET_STOCK_ID', null)
    }
    const carts = await app.$db.get('carts/by-owner')
    return {
      userCarts: carts
    }
  }
}
</script>

<style scoped>
.left-side {
  background: black;
  height: 100vh;
}
.left-side-fix {
  flex-grow: 1;
  position: fixed;
}
.right-side {
  flex-grow: 5;
  background: #90a4ae;
  min-height: 100vh;
  overflow: auto;
}
.no-padding {
  padding: 0px;
}
</style>
