<template>
  <Layout>
    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="left-side"
      row 
      wrap 
      justify-center 
      align-center 
      align-content-space-between>
      <v-flex xs8>
        <h1 class="center">{{ $t('descriptions.cookie_policy') }}</h1>
      </v-flex>
    </v-layout>
    <!-- Left side end ---------------------------------------------->

    <!-- Right side start ---------------------------------------------->
    <Policy slot="right-side" />
    <!-- Right side end ---------------------------------------------->

  </Layout>
</template>

<script>
import Layout from '~/layouts/components/two-side'
import Policy from '~/components/cookies/policy'

export default {
  // middleware: 'authenticated',
  components: {
    Layout,
    Policy
  },
  layout: 'default',
  data: () => ({}),
  computed: {},
  created() {},
  methods: {}
}
</script>
<style scoped>
.center {
  text-align: center;
  margin: 10px 0;
}
</style>
