<template>
  <Layout 
    title="menu.search_car" 
    information="long.find_car"> 
    <div slot="body" >
      <v-card
        slot="right-action"
        dark
      >
        <v-card-text>
          <CarFilter 
            :models="models" 
          />
        </v-card-text>
      </v-card>
      
  
      <Gallery 
        :gallery-id="(selectedModel) ? selectedModel.catalogueId : 'find-car'"
        :size="(selectedModel) ? 'xs2' : 'xs3'"/>
      <StockList       
        :stocks="filteredStocks"
        @action="addToCart"
        @openDialog="openDialog"
      />

      <DetailDialog
        ref="detailsDialog"
        :show-dialog="dialogDetails"
        :item="currentItem"
        @action="addToCart"
        @close="dialogDetails = !dialogDetails"
      />


    </div>
      
  </Layout>
</template>

<script>
import { Validator } from 'vee-validate'
import { mapFields } from 'vuex-map-fields'
import Layout from '~/layouts/components/app-layout'
import CarFilter from '~/components/car/car-filter'
import Gallery from '~/components/car/car-gallery'
import StockList from '~/components/car/stock-list'
import DetailDialog from '~/components/dialogs/car-detail'

import _ from 'lodash'
export default {
  layout: 'default2',
  middleware: 'dev',
  // mixins:  [crudMixin],
  components: {
    CarFilter,
    Gallery,
    Layout,
    StockList,
    DetailDialog
  },
  data: () => ({
    dialogDetails: false,
    versions: [],
    colors: [],
    selectedSincoms: {},
    selectedCatalogue: {},
    currentItem: null
  }),
  computed: {
    page() {
      if (this.selectedModel) return 'search_car'
      else return this.indexPage
    },
    ...mapFields([
      'indexPage',
      'selectedModel',
      'carGallery',
      'selectedVersion',
      'selectedColor',
      'filteredStocks',
      'stockId',
      'returnPage',
      'dialogLogin'
    ]),
    infoDialog() {
      return false
    },
    modelGallery() {
      if (this.selectedModel) {
        return this.selectedModel.id
      } else return 'init'
    }
  },
  async mounted() {
    // this.$tours['myTour'].start()
    /*
    if (this.selectedModel) {
      await this.changeModel()
      this.filter()
    }
    detailsDialog
    */
  },
  methods: {
    openDialog(item) {
      this.currentItem = item
      this.dialogDetails = true
      // this.$refs.detailsDialog.refreshEquipments()
    },
    async addToCart(id) {
      this.stockId = id
      let user = this.$store.state.user
      if (user.user) this.$router.push(`/cart`)
      else {
        this.returnPage = `/cart`
        this.dialogLogin = true
        // this.$router.push(`/auth/login`)
      }
      // this.colors = [{ id: 'all', name: this.$t('action.showAll') }, ...colors]
    },
    setVersions() {
      let versions = []
      for (const [index, value] of this.selectedStocks.entries()) {
        versions.push({ id: value.versionId, name: value.versionName })
      }
      this.versions = [
        { id: 'all', name: this.$t('action.showAll') },
        ...versions
      ]
    },
    filter() {
      let filteredStocks = _.filter(this.selectedStocks, item => {
        let answer = true
        if (
          this.selectedVersion &&
          item.versionId !== this.selectedVersion &&
          this.selectedVersion !== 'all'
        ) {
          answer = false
        }
        if (
          this.selectedColor &&
          item.colorExternal.id !== this.selectedColor &&
          this.selectedColor !== 'all'
        ) {
          answer = false
        }
        return answer
      })
      this.filteredStocks = filteredStocks
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const models = await app.$db.get('/catalogues')
    return {
      // models: collection.result()
      models: _.uniqBy(models, 'catalogueId'),
      search: params
    }
  }
}
</script>

<style scoped>
</style>
