<template>
  <Layout 
    title="menu.impressum" > 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap>

      <v-flex 
        xs12
        v-html="$t('long.impressum') "/>
    </v-layout>
  </Layout>  
</template>

<script>
import Layout from '~/layouts/components/app-layout'
// import UserForm from '~/components/user/form'
import FormProfile from '~/components/forms/form-profile'
// import Company from '~/components/register/right-company'
export default {
  layout: 'default',
  // middleware: 'authenticated',
  components: {
    Layout,
    FormProfile
    // Company
  },
  data: () => ({
    radioValue: 'person'
  }),
  computed: {
    switchLabel() {
      return this.switchBool
        ? this.$t('field.company')
        : this.$t('field.person')
    }
  },
  async asyncData({ store, params, query, route, redirect, req, app }) {
    if (store.getters['user/isAuthenticated']) {
      const user = await app.$db.get('/users/me')
      return {
        user: user
      }
    } else
      return {
        user: null
      }
  }
}
</script>
<style scoped>
.center {
  text-align: center;
}
.title {
}
.colored-label {
  color: white;
  font-weight: bold;
}
</style>
