<template>
  <Layout     
    title="message.welcome"
    subtitle="message.on_site"> 

 
    <v-layout
      slot="body" 
      row
      align-center
      align-content-center
      justify-space-between
      fill-height
    >

      <v-flex
        xs6
        pa-1
      >
        <v-container fluid>
          <v-layout
  
            align-content-center
            justify-center
            column 
            fill-height
            class="middle">

            <!--
            <v-flex xs12>
              <div id="example">
                <no-ssr placeholder="Loading...">
                  <carousel-3d>
                    <slide 
                      v-for="(slide, i) in slides"
                      :key="i" 
                      :index="i">
                      <img src="https://placehold.it/360x270">
                    </slide>
                  </carousel-3d>
                </no-ssr>
              </div>
            </v-flex>
            -->




            <v-flex xs12>
              <div class="primary--text  display-1" >
                {{ $t('title.start') }}
              </div>
              <div 
                class="body-2" 
                v-html="$t(`long.start`)"/>
            </v-flex>
            <v-flex 
              xs12
              dark>
              <v-select
                :menu-props="{ 'z-index': 200}"
                :items="models"
                :label="$t('action.select_brand')"
                v-model="selectedModelId"
                dark
                box
                item-text="name"
                item-value="_id"
                @change="changeModel"
              />
              <v-btn 
                block 
                color="success" 
                dark
                @click="searchCar">{{ $t(`menu.search_car`) }}</v-btn> 
            </v-flex>
            <br>
            <v-flex xs12>
              <div class="primary--text  display-1" >
                {{ $t('title.who_we_are') }}
              </div>
              <div 
                class="body-2" 
                v-html="$t(`long.home`)"/>
            </v-flex>
            <br>
            <v-flex xs12>
              <div class="primary--text  display-1" >
                {{ $t('title.how_to_use') }}
              </div>
              <div 
                class="body-2" 
                v-html="$t(`long.how_to_use`)"/>
            </v-flex>
            <br>
            <v-flex xs12>
              <div class="primary--text  display-1" >
                {{ $t('title.process') }}
              </div>
              <div 
                class="body-2" 
                v-html="$t(`long.process`)"/>
            </v-flex>
            <br>
          </v-layout>

        </v-container>



      </v-flex>

      <v-flex
        xs6
        pa-1
        class="lift-up"
      >
        <Gallery 
          :message="false"
          gallery-id="index"
          size="xs4"/>
      </v-flex>
    </v-layout>
  </Layout> 
</template>

<script>
import { Validator } from 'vee-validate'
import { mapFields } from 'vuex-map-fields'
import Layout from '~/layouts/components/app-layout'
import CarFilter from '~/components/car/car-filter'
import Gallery from '~/components/car/car-gallery'
import StockList from '~/components/car/stock-list'
// import { Carousel3d, Slide } from 'vue-carousel-3d'

import _ from 'lodash'
export default {
  layout: 'default2',
  middleware: 'dev',
  // mixins:  [crudMixin],
  components: {
    // Carousel3d,
    // Slide,
    CarFilter,
    Gallery,
    Layout,
    StockList
  },
  data: () => ({
    slides: 7,
    steps: [
      {
        target: '#v-step-0', // We're using document.querySelector() under the hood
        content: `Discover <strong>Vue Tour</strong>!`
      },
      {
        target: '.v-step-1',
        content: 'An awesome plugin made with Vue.js!'
      },
      {
        target: '[data-v-step="2"]',
        content:
          "Try it, you'll love it!<br>You can put HTML in the steps and completely customize the DOM to suit your needs.",
        params: {
          placement: 'top'
        }
      }
    ],
    versions: [],
    colors: [],
    selectedSincoms: {},
    selectedCatalogue: {}
  }),
  computed: {
    page() {
      if (this.selectedModel) return 'search_car'
      else return this.indexPage
    },
    ...mapFields([
      'indexPage',
      'selectedModel',
      'selectedModelId',
      'carGallery',
      'selectedVersion',
      'selectedColor',
      'filteredStocks',
      'stockId',
      'returnPage',
      'dialogLogin'
    ]),
    infoDialog() {
      return false
    },
    modelGallery() {
      if (this.selectedModel) {
        return this.selectedModel.id
      } else return 'init'
    }
  },
  async mounted() {
    // this.$tours['myTour'].start()
    /*
    if (this.selectedModel) {
      await this.changeModel()
      this.filter()
    }
    */
  },
  methods: {
    changeModel() {
      this.$router.push('/find-car')
    },
    searchCar() {
      this.$router.push('/find-car')
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const models = await app.$db.get('/catalogues')
    return {
      // models: collection.result()
      models: _.uniqBy(models, 'catalogueId'),
      search: params
    }
  }
}
</script>

<style scoped>
</style>
