<template>
  <Layout>

    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="left-side"
      class="all"
      row 
      wrap>
  
      <v-flex >
        <v-layout 
          row 
          wrap
          class ="white--text" 
          align-content-space-between
          align-content-center
          justify-center
          align-center>




          <CarFilter 
            :models="models" 
          />


          <Gallery 
            :model-id="modelGallery" 
          />
        
      
        
        </v-layout> 

      </v-flex >

    

    </v-layout>
    <!-- Left side end ---------------------------------------------->

    <!-- Right side start ---------------------------------------------->
    <v-container slot="right-side" >
      <StockList       
        :stocks="filteredStocks"
        @action="addToCart"
      />
    </v-container>
    <!-- Right side end ---------------------------------------------- -->

  </Layout>
  

</template>

<script>
import { Validator } from 'vee-validate'
import { mapFields } from 'vuex-map-fields'
import Layout from '~/layouts/components/two-side'
import CarFilter from '~/components/car/car-filter'
import Gallery from '~/components/car/car-gallery'
import StockList from '~/components/car/stock-list'

import _ from 'lodash'
export default {
  layout: 'default',
  middleware: 'dev',
  // mixins:  [crudMixin],
  components: {
    CarFilter,
    Gallery,
    Layout,
    StockList
  },
  data: () => ({
    steps: [
      {
        target: '#v-step-0', // We're using document.querySelector() under the hood
        content: `Discover <strong>Vue Tour</strong>!`
      },
      {
        target: '.v-step-1',
        content: 'An awesome plugin made with Vue.js!'
      },
      {
        target: '[data-v-step="2"]',
        content:
          "Try it, you'll love it!<br>You can put HTML in the steps and completely customize the DOM to suit your needs.",
        params: {
          placement: 'top'
        }
      }
    ],
    versions: [],
    colors: [],
    selectedSincoms: {},
    selectedCatalogue: {}
  }),
  computed: {
    ...mapFields([
      'selectedModel',
      'carGallery',
      'selectedVersion',
      'selectedColor',
      'filteredStocks',
      'stockId',
      'returnPage',
      'dialogLogin'
    ]),
    infoDialog() {
      return false
    },
    modelGallery() {
      if (this.selectedModel) {
        return this.selectedModel.id
      } else return 'init'
    }
  },
  async mounted() {
    this.$tours['myTour'].start()
    /*
    if (this.selectedModel) {
      await this.changeModel()
      this.filter()
    }
    */
  },
  methods: {
    async addToCart(id) {
      this.stockId = id
      let user = this.$store.state.user
      if (user.user) this.$router.push(`/cart`)
      else {
        this.returnPage = `/cart`
        this.dialogLogin = true
        // this.$router.push(`/auth/login`)
      }
      // this.colors = [{ id: 'all', name: this.$t('action.showAll') }, ...colors]
    },
    setVersions() {
      let versions = []
      for (const [index, value] of this.selectedStocks.entries()) {
        versions.push({ id: value.versionId, name: value.versionName })
      }
      this.versions = [
        { id: 'all', name: this.$t('action.showAll') },
        ...versions
      ]
    },
    filter() {
      let filteredStocks = _.filter(this.selectedStocks, item => {
        let answer = true
        if (
          this.selectedVersion &&
          item.versionId !== this.selectedVersion &&
          this.selectedVersion !== 'all'
        ) {
          answer = false
        }
        if (
          this.selectedColor &&
          item.colorExternal.id !== this.selectedColor &&
          this.selectedColor !== 'all'
        ) {
          answer = false
        }
        return answer
      })
      this.filteredStocks = filteredStocks
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const models = await app.$db.get('/catalogues')
    return {
      // models: collection.result()
      models: models
    }
  }
}
</script>

<style scoped>
.left-side {
  /* background: black; */
  height: 100vh;
}
.left-side-fix {
  flex-grow: 1;
  position: fixed;
}
.right-side {
  flex-grow: 5;
  background: #90a4ae;
  min-height: 100vh;
  overflow: auto;
}
.no-padding {
  padding: 0px;
}
</style>
