<template>
  <Layout 
    title="menu.order" 
    information="long.order"> 

    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="body"
      row 
      wrap
      class ="white--text" 
      align-content-space-between
      align-content-center
      justify-center
      align-center>

      <v-flex
        xs12>

        <v-stepper 
          v-model="e1"
          vertical>

          <v-stepper-step 
            :complete="e1 > 1" 
            step="1">{{ $t('title.accept_terms') }}</v-stepper-step>

          <v-stepper-content step="1">
            <v-card
              class="mb-5"
              color="bglight"
            >

              <v-card-text v-html="$t('long.terms') " />
            </v-card>


            <v-btn
              color="success"
              @click="e1 = 2"
            >
              {{ $t('action.accept') }}
            </v-btn>

            <v-btn 
              flat
              @click="cancelAccept">
              {{ $t('action.cancel') }}
            </v-btn>
          </v-stepper-content>





          <v-stepper-step 
            :complete="e1 > 2" 
            step="2">{{ $t('title.fill_user_details') }}</v-stepper-step>

          <v-stepper-content step="2">
            <FormProfile
              ref="formProfile" 
              :data="user"
              :show-save-button="false"
              :show-result-dialog="false"
              @afterSave="afterSaveProfile"
            />


            <v-btn
              color="success"
              @click="saveUser"
            >
              {{ $t('action.continue') }}
            </v-btn>

            <v-btn 
              flat
              @click="e1 = 1">
              {{ $t('action.back') }}
            </v-btn>
          </v-stepper-content>




          <v-stepper-step step="3">{{ $t('title.check_order') }}</v-stepper-step>

           

            

          <v-stepper-content step="3">
            <Details 
              :item="order.stock"
            /> 



            <v-btn
              color="success"
              @click="saveOrder"
            >
              {{ $t('action.save_order') }}
            </v-btn>

            <v-btn 
              flat
              @click="e1 = 2">
              {{ $t('action.back') }}
            </v-btn>
          </v-stepper-content>

        </v-stepper>

      </v-flex>         
    </v-layout>
  </Layout>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Info from '~/components/order-information'
import Layout from '~/layouts/components/app-layout'
import Details from '~/components/car/car-details'
import HistoryDialog from '~/components/dialogs/order-history'
import FormProfile from '~/components/forms/form-profile'

import _ from 'lodash'
export default {
  layout: 'default',
  middleware: 'authenticated',
  // mixins: [crudMixin],
  components: {
    Info,
    Layout,
    Details,
    HistoryDialog,
    FormProfile
  },
  data: () => ({
    e1: '',
    panel: [true],
    historyDialog: false
    // orders: []
  }),
  computed: {
    ...mapFields(['dialogOrderConfirm'])
  },
  async mounted() {},
  methods: {
    cancelAccept() {
      this.$router.push({ path: `/cart` })
    },
    async saveUser() {
      await this.$refs.formProfile.submit()
    },
    afterSaveProfile() {
      this.e1 = 3
    },
    async saveOrder() {
      let answer = await this.$db.post(`/orders`, {
        stock: this.order.stock._id,
        cart: this.order._id
      })
      this.dialogOrderConfirm = true
      this.$router.push({ path: `/your-orders` })
    }
  },
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const order = await app.$db.get(`carts/${query.id}`)
    let user = {}
    if (store.getters['user/isAuthenticated']) {
      user = await app.$db.get('/users/me')
    }
    return {
      order: order,
      user: user
    }
  }
}
</script>

<style scoped>
.left-side {
  background: black;
  height: 100vh;
}
.left-side-fix {
  flex-grow: 1;
  position: fixed;
}
.right-side {
  flex-grow: 5;
  background: #90a4ae;
  min-height: 100vh;
  overflow: auto;
}
.no-padding {
  padding: 0px;
}
.status {
  font-size: 20px;
  text-align: left;
}
</style>
