<template>
  <Layout 
    title="menu.registration" 
    information="long.registration"> 
    <v-layout
      slot="body"
      row 
      justify-space-between
      wrap>

      <v-flex xs12>
        <v-card
          id="card"
          class="bglight2"
        >
          <v-card-text>
            <UserForm />
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </Layout>  
</template>

<script>
import Layout from '~/layouts/components/app-layout'
import UserForm from '~/components/user/form'
// import Company from '~/components/register/right-company'
export default {
  layout: 'default',
  components: {
    Layout,
    UserForm
    // Company
  },
  data: () => ({
    radioValue: 'person'
  }),
  computed: {
    switchLabel() {
      return this.switchBool
        ? this.$t('field.company')
        : this.$t('field.person')
    }
  },
  async asyncData({ store, params, query, route, redirect, req, app }) {}
}
</script>
<style scoped>
.center {
  text-align: center;
}
.title {
}
.colored-label {
  color: white;
  font-weight: bold;
}
</style>
