<template>
  <Layout 
    title="menu.orders" 
    information="long.orders"> 

    <!-- Left side start ---------------------------------------------->
    <v-layout
      slot="body"
      row 
      wrap
      class ="white--text" 
      align-content-space-between
      align-content-center
      justify-center
      align-center>

      <v-flex
        v-for="order in orders"
        :key="order._id" 
        xs12>
        <Details 
          :item="order.stock"
          :historyData="order.history"
          history
        />  
      </v-flex>
    </v-layout>
  </Layout>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import Info from '~/components/order-information'
import Layout from '~/layouts/components/app-layout'
import Details from '~/components/car/car-details'
import HistoryDialog from '~/components/dialogs/order-history'

import _ from 'lodash'
export default {
  layout: 'default',
  middleware: 'authenticated',
  // mixins: [crudMixin],
  components: {
    Info,
    Layout,
    Details,
    HistoryDialog
  },
  data: () => ({
    panel: [true],
    historyDialog: false
    // orders: []
  }),
  computed: {
    ...mapFields(['dialogOrderConfirm']),
    user() {
      return this.$store.state.user.user
    }
  },
  async mounted() {},
  methods: {},
  async fetch({ store, params, app }) {},
  async asyncData({ store, params, query, route, redirect, req, app }) {
    const orders = await app.$db.get('/orders/by-owner')
    return {
      orders: orders
    }
  }
}
</script>

<style scoped>
.left-side {
  background: black;
  height: 100vh;
}
.left-side-fix {
  flex-grow: 1;
  position: fixed;
}
.right-side {
  flex-grow: 5;
  background: #90a4ae;
  min-height: 100vh;
  overflow: auto;
}
.no-padding {
  padding: 0px;
}
.status {
  font-size: 20px;
  text-align: left;
}
</style>
