<template>
  <v-container 
    fluid 
  >
    <v-layout
      row 
      wrap>

      <v-flex 
        xs12 
      />

    </v-layout>   
  </v-container>
</template>

<script>
export default {
  props: {
    models: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({
    title: null
  }),
  computed: {},
  created() {},
  methods: {}
}
</script>

<style scoped>
</style>
