<template>
  <v-app>
    <!-- Left side navigation start ------------------------------ -->
    <v-navigation-drawer
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      persistent
      enable-resize-watcher
      fixed
      app
    >

      <v-list>
        <!-- Items start------ --> 
        <v-list-tile
          v-for="(item, i) in mainItems"
          :to="item.to"
          :key="i"
          value="true"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"/>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"/>
          </v-list-tile-content>
        </v-list-tile>
        <!-- Items end------ -->

        <!-- Groupped items start------ -->
        <v-list-group
          v-for="item in grouppedItems"
          v-model="item.active"
          :key="item.title"
          :prepend-icon="item.action"
          no-action >

          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            v-for="subItem in item.subItems"
            :key="subItem.title"
            :to="subItem.to"
            router
            exact
          >
            <v-list-tile-content>
              <v-list-tile-title>{{ subItem.title }}</v-list-tile-title>
            </v-list-tile-content>

            <v-list-tile-action v-if="subItem.icon">
              <v-icon v-text="subItem.icon"/>
            </v-list-tile-action>        
          </v-list-tile>

        </v-list-group>    
        <!-- Groupped items end------ -->

      </v-list>

    </v-navigation-drawer>
    <!-- Left side navigation end ------------------------------ -->

    <!-- Toolbar (header) start ------------------------------ -->
    <v-toolbar
      :clipped-left="clipped"
      :color="toolbarColor"
      :dark="toolbarDark"
      app
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"/>
      <v-btn 
        icon 
        @click.stop="miniVariant = !miniVariant">
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"/>
      </v-btn>
      <v-btn 
        icon 
        @click.stop="clipped = !clipped">
        <v-icon>web</v-icon>
      </v-btn>
      <v-btn 
        icon 
        @click.stop="fixed = !fixed">
        <v-icon>remove</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
      <v-btn 
        icon 
        @click.stop="rightDrawer = !rightDrawer">
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <!-- Toolbar (header) end ------------------------------ -->

    <!-- Content start ------------------------------ -->
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <!-- Content end ------------------------------ -->

    <!-- Right side navigation start ------------------------------ -->
    <v-navigation-drawer
      :right="right"
      v-model="rightDrawer"
      temporary
      fixed
      app
    >
      <v-list>
        <v-list-tile @click="right = !right">
          <v-list-tile-action>
            <v-icon>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- Right side navigation end ------------------------------ -->

    <v-footer 
      :fixed="fixed" 
      app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {},
  data: () => ({
    toolbarColor: 'teal',
    toolbarDark: true,
    title: 'Layout template',
    clipped: false,
    drawer: true,
    fixed: false,
    miniVariant: false,
    right: true,
    rightDrawer: false,
    mainItems: [
      { title: 'App home', icon: 'home', to: '/' },
      { title: 'Admin dashboard', icon: 'developer_board', to: '/admin' },
      { title: 'Developer dashboard', icon: 'build', to: '/dev' }
    ],
    grouppedItems: [
      {
        action: 'verified_user',
        title: 'Tests',
        active: false,
        subItems: [
          { title: 'Test 1.', to: '/dev/tests/test1', icon: 'menu' },
          { title: 'Test 2.', to: '/dev/tests/test2', icon: 'extension' },
          { title: 'Test 3.', to: '/dev/tests/test3', icon: 'bubble_chart' }
        ]
      }
    ]
  })
}
</script>
