<template>
  <v-layout 
    row 
    wrap 
    justify-center 
    align-center 
    align-content-space-between>
    <v-flex xs6>
      <h1>{{ title }}</h1>
      Left side
    </v-flex>
    <v-flex xs6>
      Right side
    </v-flex>
  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  // middleware: 'admin',
  // layout: 'admin',
  // mixins: [crudMixin],
  // components: {},
  data: () => ({
    title: 'Page template'
  }),
  computed: {
    /*
      ...mapFields('projects', [
        'form.name',
        'form.description'
      ]),
      test () { retun 'test' }
    */
  },
  created() {
    // this.collection = new this.$Collection('registers')
  },
  methods: {},
  async fetch({ store, params, app }) {}
  /*
    async asyncData ({ store, params, query, route, redirect, req }) {
      return {
      }
    }
    */
}
</script>

<style scoped>
</style>
