<template>
  <v-layout 
    row 
    wrap 
    justify-center 
    align-content-space-between>
    <v-flex xs16>
      <h1>{{ title }}</h1>
      <form >
        <v-text-field        
          v-validate="'required|email'"
          v-model="form.email"
          :error-messages="errors.collect('email')"
          :label="$t('field.email')"
          data-vv-name="email"
          required
        />
        
        <v-text-field
          v-validate="'required|min:10'"
          :append-icon="showPassword ? 'visibility_off' : 'visibility'"
          v-model="form.password"
          :type="showPassword ? 'text' : 'password'"
          :counter="15"
          :label="$t('field.password')"
          @click:append="showPassword = !showPassword"
        />

        {{ form }}

        <v-btn 
          dark 
          color="success" 
          @click="upload">{{ $t('action.upload') }}</v-btn>
        <v-btn 
          dark 
          color="primary" 
          @click="upload">{{ $t('action.clean') }}</v-btn>

      </form>
    </v-flex>

    <v-flex xs6>
      <pre>{{ list }}</pre>
    </v-flex>

  </v-layout>
</template>

<script>
// import { mapFields } from 'vuex-map-fields'

export default {
  // middleware: 'admin',
  layout: 'dev',
  // mixins: [crudMixin],
  // components: {},
  data: () => ({
    valid: false,
    showPassword: false,
    form: {
      password: 'password',
      email: 'patakytam@gmail.com'
    }
  }),
  computed: {},
  created() {
    this.collection = new this.$Collection('test')
  },
  methods: {
    async getAll() {
      await this.collection.getAll()
      this.list = this.collection.list
    },
    async upload() {
      let valid = await this.$validator.validateAll()
      if (valid) {
        this.collection.answer = await this.collection.db.add(this.form)
        this.collection.toId().id
        this.createdId = this.collection.toId().id
        await this.getAll()
      }
    }
  },
  async asyncData({ app }) {
    const collection = new app.$Collection('test')
    await collection.getAll()
    return {
      list: collection.list
    }
  },
  async fetch({ store, params, app }) {}
}
</script>

<style scoped>
</style>
