
<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="80%"
    >
      <Details
        v-observe-visibility="visibilityChanged"
        v-if="item"
        ref="carDetails"
        :item="item" 
        button
        buttonText="addToCart"
        buttonIcon="mdi-cart-plus"
        @action="action"
      >
        <div slot="head-action">
          <v-btn 
            dark 
            color="success" 
            @click="action(item._id)">
            <v-icon>mdi-cart-plus</v-icon>
            &nbsp; {{ $t('action.add_to_cart') }}
          </v-btn>
          <v-btn 
            dark 
            color="info" 
            @click="close">
            <v-icon>mdi-close-outline</v-icon>
            &nbsp; {{ $t('action.close') }}
          </v-btn>

        </div>
        <div slot="bottom-action">
          <v-btn 
            dark
            block 
            color="success" 
            @click="action(item._id)">
            <v-icon>mdi-cart-plus</v-icon>
            &nbsp; {{ $t('action.add_to_cart') }}
          </v-btn>
        </div>

      </Details>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import Details from '~/components/car/car-details'
import { ObserveVisibility } from 'vue-observe-visibility'
export default {
  components: {
    Details
  },
  directives: {
    ObserveVisibility
  },
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    item: {
      type: Object,
      default: () => null
    }
  },
  data: () => ({}),
  computed: {
    list() {
      return _.orderBy(this.history, ['date'], ['desc'])
    },
    dialog: {
      get() {
        return this.showDialog
      },
      set(value) {
        this.$emit('close')
      }
    }
  },
  mounted() {},
  methods: {
    visibilityChanged(isVisible) {
      if (isVisible) this.$refs.carDetails.refreshEquipments()
    },
    dateFormat(date) {
      return moment(date).fromNow()
    },
    close() {
      this.$emit('close')
    },
    action(id) {
      this.$emit('action', id)
    }
  }
}
</script>

<style scoped>
</style>
