<template>
  <v-alert
    id="cookie"
    v-model="cookie"
    type="warning"
    color="black"
    class="opacity"
  >
    <v-layout 
      align-center
      row>
      <v-flex 
        class="body-2"
        xs8
        v-html="text"/>
      <v-flex
        class="right"
        xs4>
        <v-btn 
          color="info"
          to="/data-protection">
          {{ $t('action.show_policy') }}
        </v-btn>
        <v-btn 
          color="success"
          @click="saveAcception">
          {{ $t('action.accept') }}
        </v-btn>
        <v-btn 
          color="error"
          @click="saveDecline">
          {{ $t('action.decline') }}
        </v-btn>
      </v-flex>
    </v-layout>
  </v-alert> 
</template>

<script>
import { mapFields } from 'vuex-map-fields'

export default {
  props: {
    cookie: {
      type: Boolean,
      default: true
    }
  },
  data: () => ({}),
  computed: {
    ...mapFields(['cookieAccepted']),
    text() {
      return this.$t('long.cookies')
    }
  },
  created() {},
  methods: {
    saveAcception() {
      // localStorage.setItem('cookiePolicy', 'Accepted')
      this.cookieAccepted = true
      this.$emit('accept')
      // this.cookie = false
    },
    saveDecline() {
      this.cookieAccepted = false
      this.$emit('decline')
      // this.cookie = false
    }
  }
}
</script>

<style scoped>
.right {
  text-align: right;
}
.bold {
  font-size: 18px;
  font-weight: bold;
}
.opacity {
  opacity: 0.8;
}
</style>
