<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="500"
  >
    <v-card>
      <v-card-title class="headline">
        <v-toolbar
          dark 
          color="blue">
          {{ $t(`action.${type}`) }}
          <v-spacer/>
          <v-toolbar-items>
            <v-btn 
              icon 
              @click="close">
              <v-icon>mdi-close-outline</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>        
      </v-card-title>


      <v-card-text >
        <FormLogin
          v-if="type === 'login'"
          ref="loginForm"
          :data="initialForm"
          button-text="login"
          @afterSave="afterLogin"/>
        <FormRegister
          v-if="type === 'register'"
          ref="registerForm"
          :data="initialForm"
          button-text="register"
          @afterSave="afterRegister"/>
        

        <div v-if="type === 'login'">
          {{ $t('message.no_profile') }}:
          <v-btn
            color="primary"
            small
            @click="changeType"
          >
            {{ $t('action.register') }}
          </v-btn>
        </div>

        <div v-if="type === 'register'">
          {{ $t('message.have_profile') }}:
          <v-btn          
            color="primary"
            small
            @click="type = 'login'"
          >
            {{ $t('action.login') }}
          </v-btn>
        </div>

        <div>
          {{ $t('action.forgot_pwd') }}:
          <v-btn
            color="primary"
            flat
            small
            @click="sendRestoreLink"
          >
            {{ $t('action.click_here') }}
          </v-btn>
        </div>

      </v-card-text>
     
    </v-card>
  </v-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import FormLogin from '~/components/forms/form-login'
import FormRegister from '~/components/forms/form-register'

export default {
  components: {
    FormLogin,
    FormRegister
  },
  props: {},
  data: () => ({
    type: 'login', //login, forgot_pwd, register
    initialForm: {}
  }),
  computed: {
    ...mapFields({ dialog: 'dialogLogin' }),
    ...mapFields(['returnPage'])
  },
  created() {},
  methods: {
    changeType() {
      if (this.type == 'register') {
        this.type = 'login'
        this.initialForm = this.$refs.registerForm.form
      } else {
        this.type = 'register'
        this.initialForm = this.$refs.loginForm.form
      }
    },
    afterLogin(answer) {
      if (this.returnPage) {
        this.$router.push(this.returnPage)
        this.returnPage = null
      }
      this.close()
    },
    afterRegister(answer) {
      if (this.returnPage) {
        this.$router.push(this.returnPage)
        this.returnPage = null
      }
      this.close()
    },
    async save() {
      let valid = await this.$validator.validateAll()
      if (!valid) return
      const cookiePolicy = localStorage.getItem('cookiePolicy')
      const data = this.form
      if (cookiePolicy === 'Accepted') {
        data.saveCookie = true
      } else {
        data.saveCookie = false
      }
      this.authenticated = await this.$store.dispatch('user/login', data)
      if (this.authenticated) {
        if (this.returnPage) {
          this.$router.push(this.returnPage)
          this.returnPage = '/'
          this.close()
        } else this.close()
      } else {
        document.getElementById('input-fields').classList.add('alert-border')
      }
    },
    async sendRestoreLink() {
      let email = await this.$refs.loginForm.getEmail()
      if (email) {
        // let result = await this.$db.get('/auth/send-password-restoration', {
        let result = await this.$db.get('/auth/forgot-password', {
          email: email
        })
      }
    },
    close() {
      this.dialog = false
    },
    changeToForgotPwd() {
      this.authenticated = true
      this.login = false
    },
    changeToLogin() {
      this.authenticated = true
      this.login = true
    }
  }
}
</script>

<style scoped>
</style>
