
<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="80%"
    >

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Send mail
        </v-card-title>

        <v-card-text>

          <form >
            <v-text-field        
              v-validate="'required|email'"
              v-model="form.from"
              :error-messages="errors.collect('email')"
              label="From"
              data-vv-name="email"
              required
            />
            
            <v-text-field        
              v-validate="'required|email'"
              v-model="form.to"
              :error-messages="errors.collect('email')"
              label="To"
              data-vv-name="email"
              required
            />

            <v-text-field        
              v-model="form.subject"
              label="Subject"
              required
            />


          </form>
          <div 
            v-quill:myQuillEditor2="editorOption"
            :content="form.html"
            class="quill-editor"
            @change="onEditorChange($event, 'en')"
          />
        </v-card-text>

        <v-divider/>

        <v-card-actions>
          <v-spacer/>
          <v-btn
            dark
            color="green"
            @click="send"
          >
            send
          </v-btn>
          <v-btn
            dark
            color="info"
            @click="close"
          >
            {{ $t('action.close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    valid: false,
    showPassword: false,
    order: {},
    form: {
      from: 'NewCarsFromStock <sales@newcarsfromstock.com>',
      to: '',
      subject: '',
      html: ''
    },
    editorOption: {
      // some quill options
      modules: {
        toolbar: [
          ['bold', 'italic', 'underline', 'strike'],
          ['blockquote', 'code-block'],
          [{ header: 1 }, { header: 2 }],
          [{ list: 'ordered' }, { list: 'bullet' }],
          [{ script: 'sub' }, { script: 'super' }],
          [{ indent: '-1' }, { indent: '+1' }],
          [{ direction: 'rtl' }],
          [{ size: ['small', false, 'large', 'huge'] }],
          [{ header: [1, 2, 3, 4, 5, 6, false] }],
          [{ font: [] }],
          [{ color: [] }, { background: [] }],
          [{ align: [] }],
          ['clean'],
          ['link', 'image', 'video']
        ]
      }
    }
  }),
  computed: {
    dialog: {
      get() {
        return this.showDialog
      },
      set(value) {
        this.$emit('close')
      }
    }
  },
  async mounted() {},
  methods: {
    upload() {},
    async getMail(type, order) {
      this.order = order
      const user = order.user
      if (type !== 'mail') {
        const mail = await this.$db.get('/db/mails/filter', { type: type })
        this.form.subject = mail[0][`subject_${user.language}`]
        this.form.html = mail[0][`body_${user.language}`]
      }
      this.form.to = user.email
    },
    dateFormat(date) {
      return moment(date).fromNow()
    },
    close() {
      this.$emit('close')
    },
    send() {
      this.$emit('send', this.order, this.form)
    },
    onEditorChange({ editor, html, text }, language) {
      this.form.html = html
    }
  }
}
</script>

<style scoped>
</style>
