<template>
  <v-dialog
    v-model="dialog"
    :persistent="message.persistent"
    max-width="400"
  >
    <v-card>
      <v-card-title class="headline">
        <v-toolbar 
          :color="color" 
          dark>
          {{ $t(`title.${message.type}`) }}
          <v-spacer/>
          <v-toolbar-items>
            <v-btn 
              v-if="!message.persistent"
              icon 
              @click="close">
              <v-icon>mdi-close-outline</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-card-title>


      <v-card-text>
        <div class="text-xs-center">
          <h1 v-if="message.subtitle">{{ message.subtitle }}</h1>
          <p v-if="message.textToTranslate">{{ $t(`message.${message.textToTranslate}`) }}</p>
          <p v-if="message.text">{{ message.text }}</p>
        
          <v-progress-circular
            v-if="(message.type == 'waiting')"
            :size="70"
            :width="7"
            color="purple"
            indeterminate
          />
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer/>

        <v-btn
          v-if="(message.type == 'confirm')"
          color="green darken-1"
          flat="flat"
          @click="save"
        >
          {{ $t('action.confirm') }}
        </v-btn>

        <v-btn
          v-if="!message.persistent"
          color="green darken-1"
          flat="flat"
          @click="close"
        >
          {{ $t('action.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { Validator } from 'vee-validate'

export default {
  props: {},
  data: () => ({
    valid: false,
    showPassword: false,
    form: {
      password: 'password',
      email: 'patakytam@gmail.com'
    }
  }),
  computed: {
    ...mapFields({ dialog: 'dialogMessage' }),
    ...mapFields(['message', 'confirmed']),
    color() {
      switch (this.message.type) {
        case 'waiting':
          return 'info'
        case 'confirm':
          return 'success'
        default:
          return this.message.type || 'info'
      }
    }
  },
  created() {},
  methods: {
    async save() {
      let valid = await this.$validator.validateAll()
      if (!valid) return
      const data = this.form
      await this.$store.dispatch('user/login', data)
    },
    close() {
      this.dialog = false
      // this.$router.push(`#`)
    }
  }
}
</script>

<style scoped>
</style>
