<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="500"
  >
    <v-card>
      <v-card-title class="headline">
        <v-toolbar 
          color="success" 
          dark>
          {{ $t(`title.order_confirm`) }}
          <v-spacer/>
          <v-toolbar-items>
            <v-btn
              icon 
              @click="close">
              <v-icon>mdi-close-outline</v-icon>
            </v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-card-title>


      <v-card-text>
        <div class="text-xs-center">
          <p>{{ $t(`message.order_confirm`) }}</p>
        </div>
      </v-card-text>

      <v-card-actions>
        <v-spacer/>

        <v-btn
          color="green darken-1"
          flat="flat"
          @click="close"
        >
          {{ $t('action.cancel') }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { Validator } from 'vee-validate'

export default {
  props: {},
  data: () => ({}),
  computed: {
    ...mapFields({ dialog: 'dialogOrderConfirm' })
  },
  created() {},
  methods: {
    close() {
      this.dialog = false
      // this.$router.push(`#`)
    }
  }
}
</script>

<style scoped>
</style>
