
<template>
  <div class="text-xs-center">
    <v-dialog
      v-model="dialog"
      width="80%"
    >

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          {{ $t('title.order_history') }}
        </v-card-title>

        <v-card-text>
          <div
            v-for="(mail, index) in list"
            :key="index">
            <h3>{{ mail.subject }}</h3>
            <h5>{{ dateFormat(mail.date) }}</h5>
            <b>From: </b> {{ mail.from }} &nbsp;
            <b>To: </b>{{ mail.to }} &nbsp;
            <br><br>
            <div v-html="mail.html"/>
            <v-divider/>
          </div>
        </v-card-text>

        <v-divider/>

        <v-card-actions>
          <v-spacer/>
          <v-btn
            dark
            color="info"
            @click="close"
          >
            {{ $t('action.close') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
export default {
  props: {
    showDialog: {
      type: Boolean,
      default: false
    },
    history: {
      type: Array,
      default: () => []
    }
  },
  data: () => ({}),
  computed: {
    list() {
      return _.orderBy(this.history, ['date'], ['desc'])
    },
    dialog: {
      get() {
        return this.showDialog
      },
      set(value) {
        this.$emit('close')
      }
    }
  },
  created() {},
  methods: {
    dateFormat(date) {
      return moment(date).fromNow()
    },
    close() {
      this.$emit('close')
    }
  }
}
</script>

<style scoped>
</style>
