<template>
  <v-dialog
    v-model="dialog"
    max-width="600"
    persistent>
    <v-card>
      <v-icon 
        class="material-icons close"
        @click="dialog = false">
        close
      </v-icon>
      <Personal 
        v-if="userPage === 'personal'"
        @close="dialog = false"/>
      <Password 
        v-if="userPage === 'password'"
        @close="dialog = false"/>
      <Invoice 
        v-if="userPage === 'invoice'"
        @close="dialog = false"/>
      <Delivery 
        v-if="userPage === 'delivery'"
        @close="dialog = false"/>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { Validator } from 'vee-validate'
import Personal from '~/components/user/right-index'
import Password from '~/components/user/right-password'
import Invoice from '~/components/user/right-invoicing'
import Delivery from '~/components/user/right-delivery'

export default {
  components: {
    Personal,
    Password,
    Invoice,
    Delivery
  },
  data: () => ({
    valid: false,
    authenticated: true,
    login: true,
    showPassword: false,
    form: {
      password: 'init',
      email: 'patakytam@gmail.com'
    }
  }),
  computed: {
    ...mapFields({
      dialog: 'dialogUser',
      userPage: 'userPage'
    }),
    ...mapFields(['returnPage'])
  },
  created() {},
  methods: {}
}
</script>

<style scoped>
.close {
  color: red;
  float: right;
  font-weight: bold;
}
</style>
