<template>
  <v-form :ref="formRef">
    <v-container
      grid-list-xl>
      <v-layout
        v-if="form"
        wrap
      >

        <!-- Company/person ------------------------------------- -->
        <v-flex xs12 >
          <v-radio-group
            v-model="form.isCompany"
            box
            row>
            <v-radio
              :label="$t('field.person')"
              :value="false"/>
            <v-radio
              :label="$t('field.company')"
              :value="true"/>
          </v-radio-group>
        </v-flex>

        <!-- Title: personal data -------------------------------------- -->
        <v-flex xs12 >
          <div class="title">{{ $t('field.personal') }}</div>
        </v-flex>

        <!-- Firstname ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.firstName"
            :label="$t('field.first_name')"
            :error-messages="errors.collect('firstName')"
            append-icon="mdi-account"
            data-vv-name="firstName"
            box/>
        </v-flex>

        <!-- Lastname ------------------------------------- -->
        <v-flex 
          xs12 
          md6 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.lastName"
            :error-messages="errors.collect('lastName')"
            :label="$t('field.last_name')"
            append-icon="mdi-account"
            data-vv-name="lastName"
            box/>
        </v-flex>

        <!-- Phone ------------------------------------- -->
        <v-flex 
          xs4 
          md4 >
          <v-text-field        
            v-validate="'required'"
            v-model="form.phone"
            :error-messages="errors.collect('phoneNumber')"
            :label="$t('field.phone_number')"
            append-icon="mdi-phone"
            data-vv-name="phoneNumber"
            box/>
        </v-flex>

        <!-- Email ------------------------------------- -->
        <v-flex 
          xs4 
          md4 >
          <v-text-field        
            v-validate="'required|email'"
            v-model="form.contactEmail"
            :error-messages="errors.collect('contactEmail')"
            :label="$t('field.contactEmail')"
            data-vv-name="contactEmail"
            append-icon="mdi-email"
            box/>
        </v-flex>

        <v-flex 
          xs4 
          md4 >
          <v-select
            v-validate="'required'"
            key="language"
            :items="languages"
            v-model="form.language"
            :error-messages="errors.collect('language')"
            :label="$t('field.language')"
            append-icon="mdi-earth"
            box
            data-vv-name="language"/>
        </v-flex>


        <!-- Company data start-------------------------- -->
        <v-flex 
          v-if="form.isCompany" 
          xs12>
          <v-container
            grid-list-xl>
            <v-layout
              v-if="form"
              wrap
            >
              <!-- Title: personal data ------------------------------------- -->
              <v-flex xs12 >
                <div class="title">{{ $t('title.company_details') }}</div>
              </v-flex>

              <!-- Company name ------------------------------------- -->
              <v-flex 
                xs12 
                md6 >
                <v-text-field        
                  v-validate="'required'"
                  v-model="form.company.name"
                  :label="$t('field.company_name')"
                  :error-messages="errors.collect('name')"
                  append-icon="mdi-factory"
                  data-vv-name="name"
                  box/>
              </v-flex>


              <!-- VAT ------------------------------------- -->
              <v-flex 
                xs12 
                md6 >
                <v-text-field        
                  v-validate="'required'"
                  v-model="form.company.vat"
                  :error-messages="errors.collect('vat')"
                  :label="$t('field.vat')"
                  append-icon="mdi-code-not-equal"
                  data-vv-name="vat"
                  box/>
              </v-flex>

              <v-flex xs12 >
                <div class="title">{{ $t('title.company_contact') }}</div>
              </v-flex>
              <!-- Firstname ------------------------------------- -->
              <v-flex 
                xs12 
                md6 >
                <v-text-field        
                  v-validate="'required'"
                  v-model="form.company.firstName"
                  :label="$t('field.first_name')"
                  :error-messages="errors.collect('firstName')"
                  append-icon="mdi-account"
                  data-vv-name="firstName"
                  box/>
              </v-flex>


              <!-- Lastname ------------------------------------- -->
              <v-flex 
                xs12 
                md6 >
                <v-text-field        
                  v-validate="'required'"
                  v-model="form.company.lastName"
                  :error-messages="errors.collect('lastName')"
                  :label="$t('field.last_name')"
                  append-icon="mdi-account"
                  data-vv-name="lastName"
                  box/>
              </v-flex>

              <!-- Phone ------------------------------------- -->
              <v-flex 
                xs4 
                md4 >
                <v-text-field        
                  v-validate="'required'"
                  v-model="form.company.phone"
                  :error-messages="errors.collect('phoneNumber')"
                  :label="$t('field.phone_number')"
                  append-icon="mdi-phone"
                  data-vv-name="phoneNumber"
                  box/>
              </v-flex>



              <v-flex 
                xs4 
                md4 >
                <v-select
                  v-validate="'required'"
                  key="language"
                  :items="languages"
                  v-model="form.company.language"
                  :error-messages="errors.collect('language')"
                  :label="$t('field.language')"
                  append-icon="mdi-earth"
                  box
                  data-vv-name="language"/>
              </v-flex>




        
            </v-layout>
          </v-container>
        </v-flex>
        <!-- Company data end-------------------------- -->





        <!-- Delivery address is same as invoice-------------------------- 
        <v-flex xs12 >
          <v-switch
            v-model="form.sameAddress"
            :label="$t('message.same_delivery')"
            @change="switchAddress"
          />
        </v-flex>
        -->

        <!-- Addresses -------------------------- -->
        <v-flex
          v-for="address in addresses" 
          :key="address"
          md12 > 
          <div class="title">{{ address=='deliveryAddress' ? $t('field.delivery') : $t('field.invoice') }}</div>
          <br>
          <v-container
            grid-list-xl>
            <v-layout
              v-if="form"
              wrap
            >
              <v-flex 
                xs12 
                md12 >
                <v-text-field        
                  v-validate="'required'"
                  key="street"
                  v-model="form[address].street"
                  :label="$t('field.street')"
                  append-icon="mdi-home-map-marker"
                  box
                  data-vv-name="street"/>
              </v-flex>

              <v-flex 
                xs4 
                md4 >
                <v-text-field        
                  v-validate="'required'"
                  key="postalcode"
                  v-model="form[address].postalcode"
                  :label="$t('field.postalcode')"
                  append-icon="mdi-mailbox"
                  box
                  data-vv-name="postalcode"/>
              </v-flex>

              <v-flex 
                xs8 
                md8 >
                <v-text-field        
                  v-validate="'required'"
                  key="city"
                  v-model="form[address].city"
                  :label="$t('field.city')"
                  append-icon="mdi-city"
                  box
                  data-vv-name="city"/>
              </v-flex>

              <v-flex 
                xs12 
                md6 >  
                <v-select
                  v-validate="'required'"
                  key="country"
                  :items="countries"
                  v-model="form[address].country"
                  :error-messages="errors.collect('country')"
                  :label="$t('field.country')"
                  append-icon="mdi-globe-model"
                  box
                  data-vv-name="country"/>
              </v-flex>

            </v-layout>
          </v-container>

        </v-flex>


        <v-flex xs12 >
          <v-switch
            v-model="cookieAccepted"
            :label="$t('message.cookie_accepted')"
          />
        </v-flex>





        <v-btn 
          v-if="showSaveButton"
          block 
          color="success" 
          dark
          @click="submit">{{ $t(`action.${buttonText}`) }}</v-btn>


      </v-layout>

 




    </v-container>
  </v-form>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import formFunctions from '~/components/forms/form'
import _ from 'lodash'

export default {
  mixins: [formFunctions],
  data: () => ({
    addresses: ['invoiceAddress'],
    languages: [
      { value: 'en', text: 'English' },
      { value: 'de', text: 'Deutsch' },
      { value: 'hu', text: 'Magyar' }
    ],
    countries: [
      { value: 'de', text: 'Deutschland' },
      { value: 'hu', text: 'Magyarország' }
    ],
    showPassword: false,
    initialForm: {
      isCompany: false,
      firstName: '',
      lastName: '',
      phone: '',
      contactEmail: '',
      sameAddress: true,
      language: 'de',
      /*
      deliveryAddress: {
        street: '',
        city: '',
        postalcode: '',
        country: 'de'
      },
      */
      invoiceAddress: {
        street: '',
        city: '',
        postalcode: '',
        country: 'de'
      },
      company: {
        name: '',
        firstName: '',
        lastName: '',
        phone: '',
        street: '',
        city: '',
        postalcode: '',
        country: 'de',
        vat: ''
      }
    }
  }),
  computed: {
    ...mapFields(['cookieAccepted'])
  },
  mounted() {
    /*
    this.errors.add({
      // rule: 'email',
      id: 1,
      scope: null,
      field: 'email',
      msg: 'email is already in use22'
    })
    */
  },
  mounted() {
    this.init()
    this.form.cookieAccepted = this.cookieAccepted
    if (_.isEmpty(this.form.contactEmail)) {
      this.form.contactEmail = this.data.email
    }
    /*
    if (this.form.sameAddress) {
      this.form.invoiceAddress = this.form.deliveryAddress
    }
    */
  },
  methods: {
    switchAddress(answer) {
      if (answer) this.form.invoiceAddress = this.form.deliveryAddress
      else {
        this.form.invoiceAddress = _.cloneDeep(this.initialForm.invoiceAddress)
      }
    },
    beforeSave() {},
    async save() {
      const answer = await this.$db.put(
        `users/${this.form._id}`,
        {},
        this.form,
        {
          result: this.showResultDialog,
          textToTranslate: 'data_saved'
        }
      )
      return answer
    },
    async afterSave(answer) {
      if (answer && !answer.errors) {
        this.$emit('afterSave', answer.result)
      } else if (answer) {
        this.errors.clear()
        this.errors.add({
          rule: 'email',
          scope: null,
          field: 'email',
          msg: this.$t(`message.${answer.result}`)
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
