<template>
  <v-form :ref="formRef">
    <v-container
      grid-list-xs>
      <v-layout
        v-if="form"
        wrap
      >

        <v-flex 
          xs12 
        >
          <v-text-field        
            v-validate="'required|email'"
            v-model="form.email"
            :error-messages="errors.collect('email')"
            :label="$t('field.email')"
            data-vv-name="email"
            box/>

        </v-flex>

        <v-flex 
          xs12 
        >
          <v-text-field
            v-validate="'required'"
            ref="password"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            v-model="form.password"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('field.password')"
            :error-messages="errors.collect('password')"
            name="password"
            counter
            box
            @click:append="showPassword = !showPassword"
          />
        </v-flex>         


        <v-btn 
          v-if="showSaveButton"
          block 
          color="success" 
          dark
          @click="submit">{{ $t(`action.${buttonText}`) }}</v-btn>


      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import formFunctions from '~/components/forms/form'

export default {
  mixins: [formFunctions],
  data: () => ({
    initialForm: {
      email: '',
      password: ''
    },
    showPassword: false
  }),
  computed: {},
  mounted() {
    /*
    this.errors.add({
      // rule: 'email',
      id: 1,
      scope: null,
      field: 'email',
      msg: 'email is already in use22'
    })
    */
  },
  methods: {
    beforeSave() {
      const cookiePolicy = localStorage.getItem('cookiePolicy')
      if (cookiePolicy === 'Accepted') {
        this.form.saveCookie = true
      } else {
        this.form.saveCookie = false
      }
    },
    async save() {
      const answer = await this.$db.post('/registered/change-email', this.form)
      return answer.ok
    },
    afterSave(answer) {
      if (answer) {
        this.$emit('afterSave', answer)
      } else {
        this.errors.clear()
        this.errors.add({
          rule: 'email',
          scope: null,
          field: 'email',
          msg: this.$t('message.invalid_login')
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
