<template>
  <v-form :ref="formRef">
    <v-container
      grid-list-xs>
      <v-layout
        v-if="form"
        wrap
      >

        <v-flex 
          xs12 
        >
          <v-text-field        
            v-validate="'required|email'"
            v-model="form.email"
            :error-messages="errors.collect('email')"
            :label="$t('field.email')"
            data-vv-name="email"
            box/>

        </v-flex>

        <v-flex 
          xs12 
        >
          <v-text-field
            v-validate="{required: true, min: 6}"
            v-model="form.password"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('field.password')"
            :error-messages="errors.collect('password')"
            counter
            box
            data-vv-name="password"
            @click:append="showPassword = !showPassword"
          />
        </v-flex>

        <v-flex 
          xs12 
        >
          <v-text-field
            v-validate="{required: true, is: form.password}"
            v-model="form.password2"
            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
            :type="showPassword ? 'text' : 'password'"
            :label="$t('field.password')"
            :error-messages="errors.collect('password')"
            counter
            box
            data-vv-name="password"
            @click:append="showPassword = !showPassword"
          />
        </v-flex>

        <v-btn 
          v-if="showSaveButton"
          block 
          color="success" 
          dark
          @click="submit">{{ $t(`action.${buttonText}`) }}</v-btn>


      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import formFunctions from '~/components/forms/form'

export default {
  mixins: [formFunctions],
  props: {},
  data: () => ({
    initialForm: {
      email: '',
      password: '',
      password2: ''
    },
    showPassword: false
  }),
  computed: {
    ...mapFields(['locale', 'cookieAccepted'])
  },
  mounted() {
    this.init()
    this.form.cookieAccepted = this.cookieAccepted
    this.form.locale = this.locale
    /*
    this.errors.add({
      // rule: 'email',
      id: 1,
      scope: null,
      field: 'email',
      msg: 'email is already in use22'
    })
    */
  },
  methods: {
    beforeSave() {},
    async save() {
      const answer = await this.$db.post('auth/register', this.form)
      return answer
    },
    async afterSave(answer) {
      if (answer && answer.ok) {
        const auth = await this.$store.dispatch('user/login', this.form)
        this.$emit('afterSave', auth)
      } else if (answer) {
        this.errors.clear()
        this.errors.add({
          rule: 'email',
          scope: null,
          field: 'email',
          msg: this.$t(`message.${answer.result}`)
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
